<table class="package-table" cellpadding="0" cellspacing="0">
  <tr>
    <td class="vuln-package">

      <% sorted_vulns.each do |vuln, pkgs| %>
        <table cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10px">
          <thead>
            <th width="30%">
              vulnerability
            </th>
            <th>
              priority
            </th>

            <th>
              date
            </th>
          </thead>
          <tr>
            <td>
              <%= link_to vuln.title, vuln_path(vuln) %>
            </td>
            <td class="package-vuln-version">
              <%= vuln.criticality %>
            </td>
            <td class="package-upgrade-to">
              <%= vuln.reported_at.strftime("%Y-%m-%d") %>
            </td>
          </tr>
        </table>

        <table cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10px">
          <thead>
            <th width="30%">
              affected packages
            </th>
          </thead>
          <tr>
            <td>
              <%= pkgs[0..3].map(&:name).join(", ") %>
              <% if pkgs.size > 4 %>
                and <%= pkgs.size - 4 %> others.
              <% end %>
            </td>
          </tr>
        </table>

      <% end %>
    </tr>
  </tr>
</table>

