<div id="dashboard">
  <section>
    <div class="col-sm-12">
      <p> At a glance: <%= at_a_glance(@monitors, @servers) %> </p>
    </div>
  </section>



  <% if @monitors.any? %>
    <div class="monitors-section">
      <h1 class="page-header">Monitors 
        <%= link_to('<i class="fa fa-plus" aria-hidden="true"></i> Add Monitor'.html_safe, new_monitor_path, :class => "btn btn-default")%>
      </h1>
      <table class="table servers">
        <% @monitors.each do |bundlepres| %>
          <%= render :partial => "monitors/list", :locals => { :bundlepres => bundlepres } %>
        <% end %>
      </table>
    </div>
  <% end %>

  <% if @servers.any? %>
    <div class="servers-section">
      <h1 class="page-header">Servers</h1>

      <% if @servers.active? %>
        <table class="table servers">
          <% @servers.active_servers.each do |serverpres| %>
            <tr class="server">
              <%= render :partial => "servers/list", :locals => { :serverpres => serverpres } %>
            </tr>
          <% end %>
        </table>
      <% end %>

      <% if @servers.silent? %>
        <h4>Inactive servers 
          <%= link_to("Delete all inactive", destroy_inactive_servers_path, :method => :delete, :class => "btn btn-warning", :data => {:confirm => "Are you sure you want to delete all inactive servers?"})%>
        </h4>
        <p>
          <strong> Psst! We haven't heard from these servers in a while:</strong>
          <br/>
        </p>

        <table class="table servers">
          <% @servers.silent_servers.each do |serverpres| %>
            <tr class="server">
              <%= render :partial => "servers/list", :locals => { :serverpres => serverpres } %>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  <% else %>
    <div class="servers-section">
      <h3 class="page-header">You're not monitoring any servers. <%= link_to('<i class="fa fa-plus" aria-hidden="true"></i> Add Server'.html_safe, new_server_path, :class => "btn btn-default")%>
      </h3>
    </div>
  <% end %>

</div>
