<%= content_for :email_header do %>
  <tr class="header-logo">
    <td>
      <img src="<%=image_url("appcanary-hero-vuln.png")%>" title="appcanary logo">
    </td>
  </tr>

  <tr class="header-description">
    <td>
      <h1>Watch out!</h1>
      <h2>You're running vulnerable software.</h2>
    </td>
  </tr>
<% end %>


<p>Today, <%= @begin_at %>, you became vulnerable to <%= @vuln_ct %> new vulnerabilties. They affect <%= @pkg_ct %> packages present in <%= @srv_ct %> servers.</p>

<% @vulns.each do |vuln| %>
  <table class="package-table" cellpadding="0" cellspacing="0">
    <tr>
      <td class="vuln-package">
        <table cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10px">
          <thead>
            <th width="30%">
              vulnerability
            </th>
            <th>
              priority
            </th>

            <th>
              date
            </th>
          </thead>
          <tr>
            <td>
             <%= vuln.title %>
            </td>
            <td class="package-vuln-version">
              <%= vuln.criticality %>
            </td>
            <td class="package-upgrade-to">
              <%= vuln.reported_at || vuln.created_at %>
            </td>
          </tr>
        </table>
      </tr>
    </tr>
  </table>
<% end %>
