<%= content_for :email_header do %>
  <tr class="header-logo">
    <td>
      <a href="https://appcanary.com"><img src="<%=image_url("appcanary-hero-vuln.png")%>" title="appcanary logo"></a>
    </td>
  </tr>

  <tr class="header-description">
    <td>
      <h1>Daily summary for <%= @date %></h1>
    </td>
  </tr>
<% end %>

<% if @motds.any? %>
  <div class="motd alert alert-neutral">
    <% @motds.each do |motd| %>
      <% if motd.subject %>
        <h2><%= motd.subject %></h2>
      <% end %>
      <%= motd.body.html_safe %>
    <% end %>
  </div>
<% end %>

<div class="daily-summary">

  <p>You have <%= servers_and_or_monitors @presenter.server_ct, @presenter.monitor_ct %> registered with Appcanary.
    <% if @presenter.inactive_server_ct > 0 %>
      Of these <b><%= @presenter.inactive_server_ct %> are inactive</b> (we haven't heard from them in a while).
    <% end %>
  </p>

  <% if @presenter.anything_to_report? %>
    <h2>Vulnerabilities</h2>

    <% if @presenter.has_vulns_to_report? %>
      <%= render :partial => "vulns_to_report" %>
    <% else %>
      <p>We didn't find any new vulnerabilities for you today.</p>
    <% end %>

    <% if @presenter.has_patched_vulns? %>
      <h3>Patches</h3>
      <p>A total of <b><%= @presenter.patched_vulns.vuln_ct %> vulnerabilities</b> in <b><%= @presenter.patched_vulns.package_ct %> packages</b> are no longer present in <b><%= @presenter.patched_vulns.server_ct %> servers</b>. <% if @presenter.patched_vulns.has_supplementary? %><%= @presenter.patched_vulns.supplementary_ct %> of these patches happened because of new vulnerability information.<% end %></p>
    <% end %>

    <h3>All changes</h3>
    <% if @presenter.has_changes? %>
      <p>FYI, <%= @presenter.changes.removed_ct %> packages were removed, <%= @presenter.changes.added_ct %> were added and <%= @presenter.changes.upgraded_ct %> were upgraded in <%= @presenter.changes.server_ct %> existing servers.</p>
    <% end %>

    <% unless @presenter.has_changes_to_report? %>
      <p>We didn't detect any changes on your systems.</p>
    <% end %>

    <% if @presenter.has_new_servers? %>
      <h2>New Servers</h2>
      <p>You added <%= pluralize @presenter.new_servers.count, "server" %> today.</p>
      <%= render :partial => "dashboard/servers_table", :locals => { :servers => @presenter.new_servers, :vulnquery => @presenter.vulnquery, :deleted => false } %>
    <% end %>

    <% if @presenter.has_deleted_servers? %>
      <h2>Deleted Servers</h2>
      <p>You deleted <%= pluralize @presenter.deleted_servers.count, "server" %> today.</p>
      <%= render :partial => "dashboard/servers_table", :locals => { :servers => @presenter.deleted_servers, :vulnquery => @presenter.vulnquery, :deleted => true } %>
    <% end %>

    <% if @presenter.has_new_monitors? %>
      <h2>New Monitors</h2>
      <p>You added <%= pluralize @presenter.new_servers.count, "monitor" %> today.</p>
      <%= render :partial => "dashboard/monitors_table", :locals => { :monitors => @presenter.new_monitors, :vulnquery => @presenter.vulnquery, :deleted => false } %>
    <% end %>

    <% if @presenter.has_deleted_monitors? %>
      <h2>Deleted Monitors</h2>
      <p>You deleted <%= pluralize @presenter.deleted_servers.count, "monitor" %> today.</p>
      <%= render :partial => "dashboard/monitors_table", :locals => { :monitors => @presenter.deleted_monitors, :vulnquery => @presenter.vulnquery, :deleted => true } %>
    <% end %>

    <% if @presenter.has_details_to_show? %>
      <h2>Details</h2>
      <% if @presenter.has_fresh_vulns? %>
        <h3>Patches released today:</h3>
        <%= render :partial => "dashboard/sorted_vuln_table", :locals => {:sorted_vulns => @presenter.fresh_vulns } %>
        <hr/>
      <% end %>

      <% if @presenter.has_new_vulns? %>
        <h3>Patches released before today:</h3>
        <%= render :partial => "dashboard/sorted_vuln_table", :locals => {:sorted_vulns => @presenter.new_vulns } %>
        <hr/>
      <% end %>

      <% if @presenter.has_cantfix_vulns? %>
        <h3>Vulnerabilities without patches:</h3>
        <%= render :partial => "dashboard/sorted_vuln_table", :locals => {:sorted_vulns => @presenter.cantfix_vulns } %>
      <% end %>


      <% if @presenter.has_patched_vulns? %>
        <h3>Patched vulnerabilities</h3>
        <%= render :partial => "dashboard/sorted_vuln_table", :locals => {:sorted_vulns => @presenter.patched_vulns } %>
      <% end %>
    <% end %>

    <% #currently, a NOP %>
    <% if @new_apps.present? %>
      <h3>Servers</h4>
      <p>You added <%= @new_apps.count %> server(s) today.</p>

      <table class="package-table" cellpadding="0" cellspacing="0">
        <tr>
          <td class="vuln-package">
            <table cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10px">
              <thead>
                <th width="30%">
                  name
                </th>
                <th>
                  vulns
                </th>
                <th>
                  distro
                </th>
              </thead>

              <% @new_apps.each do |app| %>
                <tr>
                  <td>
                    <%= "#{app.id} #{app.display_name}" %>
                  </td>
                  <td>
                    <%= @vq.from_bundle(app).count %>
                  </td>
                  <td>
                    <%= app.platform %>
                  </td>
                </tr>
              <% end %>

            </table>
          </td>
        </tr>
      </table>

    <% end %>
  <% else %>
    <h2>Nothing to report!</h2>
    <p>No vulnerabilities that affect you came out today. Nothing changed on your servers.</p>
    <p>Hooray!</p>
    <% if @presenter.old_vuln_ct > 0 %>
      <p>Note that you still <b><%= @presenter.old_vuln_ct %></b> unaddressed vulnerabilities across <b><%= @presenter.server_ct %> servers</b>.</p>
     <% end %>
  <% end %>
</div>
