<div class="top-left-brand">
  <a href="https://appcanary.com">
    <%= image_tag "appcanary.rect.png", :alt => "appCanary", :class => "logo" %>
  </a>
</div>

<div class="hero-wrapper">
  <div class="hero-vuln">

    <div class="hero_sell-line">
      <h1>Is it vulnerable?</h1>
      <h3>When did you last check your library versions?</h3>
    </div>

  </div>

</div>

<% if flash[:error] %>
<div class="flash-error">
  <p><%= flash[:error] %></p>
</div>
<% end %>

<div class="unit-container">
  <div class="unit demo">
    <%= form_tag submit_gemfile_path, multipart: true, :id => "drop" do %>
      <div id="dragbox" class="unit_demo-box unit_demo-box-before">
        <p>Click or drag a file here!</p>
      </div>
      <%= file_field_tag "file" %>
      <%= submit_tag %>
    <% end %>

    <div class="unit_demo-copy">
      <h3>We&rsquo;ll tell you what&rsquo;s vulnerable and how to update it.</h3>
      <p>Try dragging one of the files below onto the area on the left, or drag and drop in your own <strong>Gemfile.lock</strong> or <strong>/var/pkg/status</strong>:</p>
      <div class="button button-ruby">Gemfile</div>
      <!-- <div class="button button&#45;node">package.json</div> -->
      <div class="button button-ubuntu">dpkg</div>
    </div>
  </div>
</div>


<%= render :partial => "shared/footer" %>

