<%= content_for :email_header do %>
  <tr class="header-logo">
    <td>
      <img src="<%=image_url("appcanary-hero-vuln.png")%>" title="appcanary logo">
    </td>
  </tr>

  <tr class="header-description">
    <td>
      <h1>Watch out!</h1>
      <h2>You're running vulnerable software.</h2>
    </td>
  </tr>

<% end %>


<% @notifier.each_package do |pkg, logs| %>
  <table class="package-table" cellpadding="0" cellspacing="0">
    <tr>
      <td class="vuln-package">
        <table cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10px">
          <thead>
            <th width="30%">
              package
            </th>
            <th>
              version
            </th>

            <th>
              upgrade to
            </th>
          </thead>
          <tr>
            <td>
              <code><%= pkg.name %></code>
            </td>
            <td class="package-vuln-version">
              <code><%= link_to pkg.version, show_package_url(pkg), class: "package-vuln-version-a", target: "_blank" %></code>
            </td>
            <td class="package-upgrade-to">
              <code><%= pkg.upgrade_to.first %></code>
            </td>
          </tr>
        </table>

        <table cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10px">
          <thead>
            <th width="30%">
              priority
            </th>
            <th>
              vulnerabilities:
            </th>
          </thead>
          <tr>
            <td>
              <%= pkg.upgrade_priority %>
            </td>
            <td>
              <%= pkg.vulnerabilities[0..3].map { |v| link_to(h(v.title), vuln_url(v)) }.join(", ").html_safe %>
              <% if (vct = pkg.vulnerabilities.size) > 4 %>
                and <%= link_to "#{vct - 4} more", show_package_url(pkg), target: "_blank" %>.
              <% end %>
            </td>
          </tr>
        </table>

        <table class="affected-table" cellpadding="0" cellspacing="0" width="100%">
          <thead>
            <th>
              the following servers or monitors are affected:
            </th>
          </thead>

          <% logs.each do |lbv| %>
            <tr>
              <td>
                <%= link_to_server_or_monitor(lbv) %>
              </td>
            </tr>

          <% end %>
        </table>
      </td>
    </tr>
    <tr class="divider">
      <td>
        <hr/>
      </td>
    </tr>
  </table>
<% end %>

<p class="aligncenter">Questions? Concerns? Reply to this message, and we'll help you out.</p>
