<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top" class="bodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
        <tbody class="mcnTextBlockOuter">
          <tr>
            <td valign="top" class="mcnTextBlockInner">

              <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                <tbody><tr>

                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                      <h1>Watch out!</h1>

                      <h3>You're running vulnerable software.</h3>

                      <p>Here's what we found:
                        <br>
                        <br>
                        <% @notifier.each_pair do |vuln, pkgs| %>

                          <h2>
                            <%= link_to vuln.title, vuln_url(vuln.id) %> </h2>
                          <% pkgs.each do |p| %>
                            <p> in <strong><%= link_to_bundle p.bundle %></strong></p>
                            <p>Package: <code><%= p.package.name %></code></p>
                            <p>Your version: <code><%= p.package.version %></code></p>	
                            <%= email_display_upgrade_to(p.package) %>
                          <% end %>
                          <h3>Description:</h3>
                          <p><%= vuln.description %></p>

                          <h3>What now?</h3>
                          This issue may not affect you. But you should update the apps to the versions listed above.

                          <hr/>
                          <br/>
                        <% end %>

                        <h4>Questions? Concerns? Reply to this message, and we'll help you out.</h4>

                      </td>
                    </tr>
                </tbody></table>

              </td>
            </tr>
          </tbody>
      </table></td>
    </tr>
  </table>

