<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top" class="bodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
        <tbody class="mcnTextBlockOuter">
          <tr>
            <td valign="top" class="mcnTextBlockInner">
              <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                <tbody>
                  <tr>

                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                      <h1>Watch out!</h1>
                      <h3>You're running vulnerable software.</h3>

                      <p>Here's what we found:</p>
                      <% @notifier.each_vuln do |vuln, logs| %>

                        <h2><%= link_to vuln.title, vuln_url(vuln.id) %></h2>
                        <br>
                        <h3>Criticality:</h3>
                        <p><%= vuln.criticality %></p>
                        <h3>Description:</h3>
                        <% if vuln.description.present? %>
                          <p><%= vuln.description %></p>
                        <% else %>
                          <p>None available right now.</p>
                        <% end %>

                        <h3>The following are affected:</h3>
                        <br>

                        <table>
                          <thead>
                            <th>
                              Name
                            </th>
                            <th>
                              Package
                            </th>
                            <th>
                              Upgrade to
                            </th>
                          </thead>
                          <tbody>
                            <% logs.each do |p| %>
                              <tr>
                                <td width="30%">
                                  <%= link_to_server_or_monitor(p) %>
                                </td>

                                <td width="30%">
                                  <p><code><%= p.package_name %></code></p>
                                </td>

                                <td width="30%">

                                  <p><code><%= p.upgrade_to.first %></code></p>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>

                        <hr/>
                        <br/>

                      <% end %>

                      <% if @notifier.has_unpatched_vulns? %>
                        <h3>We also found the following issues, but at the moment they do not have patches.</h3>

                        <% @notifier.each_unpatched_vuln do |vuln, logs| %>
                          <h3><%= link_to vuln.title, vuln_url(vuln.id) %></h3>
                          <br>
                          <h4>Criticality:</h4>
                          <p><%= vuln.criticality %></p>
                          <h4>Description:</h4>
                          <% if vuln.description.present? %>
                            <p><%= vuln.description %></p>
                          <% else %>
                            <p>None available right now.</p>
                          <% end %>
                          <h3>The following are affected:</h3>
                          <br>
                          <%= logs.map { |l| link_to_server_or_monitor(l) }.join(", ").html_safe %>

                          <hr/>
                          <br/>


                        <% end %>
                      <% end %>

                      <h4>Questions? Concerns? Reply to this message, and we'll help you out.</h4>

                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>

