<section>
  <div class="onboard-box">
    <div class="onboard-wrapper">
      <section style="border: none">
        <div class="onboard-title">
          <h3>
            <span class="platform-logo"><%= image_tag "icon-ansible.png", :style => "width: 20px" %> Using Ansible</span>
          </h3>
        </div>
      </section>

      <section>
        <div class="onboard-desc">
          <h4>Getting started:</h4>
          <p>Use this command to install the latest compatible version:</p>
            <pre>ansible-galaxy install appcanary.agent</pre>
          <br>
          <h4>Usage</h4>
          <p>Add the following role to monitor your system packages only:</p>
<pre class="auth_token">
- { role: appcanary.agent,
    api_key: "<%= @agent_token %>" }
</pre>
          <p>If you want to additionally monitor applications, you can add Gemfiles to the monitored_files variable:
<pre class="auth_token">
- { role: appcanary.agent,
    api_key: " <%= @agent_token %>",
    monitored_files: ["/path/to/my/Gemfile.lock", "/path/to/another/Gemfile.lock"] }
</pre>

          <br>
          <p>Bam! You should be good. For slightly more information, <a href="https://galaxy.ansible.com/appcanary/agent/">visit the Ansible Galaxy page</a>.</p>
        </div>
      </section>
      
      <section>
        <div class="action-bar">
          <div class="pull-right">
            <%= eui_button "This didn't work.", href: "", :class => "eui-button-medium-primary feedback-problem" %>
            <%= eui_button "Great. I've done all of this!", href: dashboard_path(done: true) %>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>
