<section>
  <div class="onboard-box">
    <div class="onboard-wrapper">
      <section style="border: none">
        <div class="onboard-title">

          <h3>Using Bash</h3>
          <br>
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#deb" data-toggle="tab"><%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu and <%= image_tag "icon-debian.png", :style => "width: 13px"%> Debian</a></li>
            <li role="presentation"><a href="#rpm" data-toggle="tab"><%= image_tag "icon-redhat.png", :style => "width: 13px"%> Redhat, <%= image_tag "icon-centos.png", :style => "width: 13px"%> CentOS and Amazon</a></li>
          </ul>
        </div>
      </section>

      <section>
        <div class="onboard-desc">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="deb">
              <%= render :partial => "debian" %>
            </div>

            <div role="tabpanel" class="tab-pane" id="rpm">
              <%= render :partial => "redhat" %>
            </div>

          </div>
        </div>
      </section>


      <section>
        <div class="action-bar">
          <div class="pull-right">
            <%= eui_button "This didn't work. I need support!", href: "", :class => "eui-button-medium-primary feedback-problem" %>
            <%= eui_button "Great. I've done all of this!", href: dashboard_path(done: true) %>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>
