%td
  %section
    .status
      - if server.apps.empty?
        %span.fa.fa-question-circle
      -elsif server.is_vulnerable
        %span.fa.fa-exclamation-triangle.warn
      -else
        %span.fa.fa-check-circle.okay
    .description
      %span.title
        = link_to avatar(server), server_path(server), :class => "avatar"
        = link_to server.display_name, server_path(server)
      %div.last_updated.info
        = link_to "updated #{time_ago_in_words server.last_heartbeat_at} ago", server_path(server)




-# %td.status
-#   - if server.apps.empty?
-#     %span.fa.fa-question-circle
-#   -elsif server.is_vulnerable
-#     %span.fa.fa-exclamation-triangle.warn
-#   -else
-#     %span.fa.fa-check-circle.okay
-# %td
-#   %section{style: "max-width: 20em"}
-#     .col-md-2
-#       %span.avatar
-#         = link_to avatar(server), server_path(server)
-#     .col-md-10
      %span.title
        = link_to server.display_name, server_path(server)
      %div.last_updated.info
        = link_to "updated #{time_ago_in_words server.last_heartbeat_at} ago", server_path(server)
-# 
-# %td
-#   =link_to('', edit_server_path(server), class: 'fa fa-pencil-square-o')
-#   =link_to('', server_path(server), method: :delete, class: 'fa fa-trash-o',
-#            data: {confirm: "Are you sure you want to delete this server?"})
