<ul class="nav nav-tabs">
  <li class="active" role="presentation">
    <a href="#outdated-processes-tab"  data-toggle="tab">
      <% if @outdated_procs.any? %>
        <span class="fa fa-exclamation-triangle warn"></span>
        outdated processes
      <% else %>
        <span class="fa fa-check-circle okay"></span>
        outdated processes
      <% end %>
    </a>
  </li>

  <li role="presentation">
    <a href="#all-processes-tab" data-toggle="tab">
      all processes
    </a>
  </li>
</ul>


<div class="tab-content">
  <div id="outdated-processes-tab" role="tabpanel" class="tab-pane active">
    <% if @outdated_procs.empty? %>
      <div class="col-sm-12" style="text-align: center">
        <h3>Hooray! You don't seem to have any outdated processes.</h3>
        <br/>
      </div>
      <div class="col-sm-4 col-sm-offset-4">
        <%= image_tag "canary-party.medium.png", :title => "Illustration of a canary with a party hat. Hooray!", :style => "width: 100%" %>
      </div>
    <% else %>
      <table id="outdated-processes" class="table processes datatables">
        <thead>
          <th>process</th>
          <th>args</th>
          <th>pid</th>
          <th>outdated packages</th>
        </thead>

        <% @outdated_procs.each do |server_proc| %>
          <tr data-id="<%= server_proc.id %>">
            <td class="process-name">
              <span class="fa fa-caret-square-o-down arrow" style="cursor: pointer"></span> &nbsp;
              <%= server_proc.name %>
            </td>
            <td>
              <%= server_proc.args %>
            </td>

            <td>
              <%= server_proc.pid %>
            </td>

            <td class="outdated-packages">
              <%= server_proc.process_libraries.select(&:outdated).map { |pl| link_to(pl.package_name, package_platform_release_path(h(@platform), h(@release), h(pl.package_name), h(pl.package_version))) }.uniq.join(", ").html_safe %>
            </td>

          </tr>

        <% end %>
      </table>
    <% end %>

  </div>


  <div id="all-processes-tab" role="tabpanel" class="tab-pane">
    <table id="all-processes" class="table processes datatables">
      <thead>
        <th>process</th>
        <th>args</th>
        <th>pid</th>
      </thead>

      <% @all_procs.each do |server_proc| %>
        <tr data-id="<%= server_proc.id %>">
          <td class="process-name">
            <span class="fa fa-caret-square-o-down arrow" style="cursor: pointer"></span> &nbsp;
            <%= server_proc.name %>
          </td>
          <td>
            <%= server_proc.args %>
          </td>

          <td>
            <%= server_proc.pid %>
          </td>

        </tr>

      <% end %>
    </table>
  </div>
</div>
<div>
  <% @all_procs.each do |server_proc| %>
    <table class="hidden table" id="server-proc-<%= server_proc.id %>">
      <thead>
        <th>
        </th>
        <th>
          path
        </th>
        <th>
          package
        </th>

        <th>
          version
        </th>
      </thead>

      <% server_proc.process_libraries.each do |lib| %>
        <tr>
          <td>
            <% if lib.outdated %>
              <span class="fa fa-exclamation-triangle warn"></span>
            <% end %>
          </td>
          <td>

            <%= lib.path %>
          </td>

          <% if lib.package_name.empty? %>
            <td>
              (no package information available)
            </td>
            <td>
            </td>
          <% else %>
            <td>
              <%= link_to lib.package_name, package_platform_release_path(@platform, @release, lib.package_name, lib.package_version) %>
            </td>
            <td>
              <%= lib.package_version %>
            </td>
          <% end %>


        </tr>
      <% end %>
    </table>
  <% end %>


  <script>

    $( document ).ready(function() {
      $('.processes.datatables').each(function(i, t) {
        var elem = $(t);
        var table = elem.DataTable({
          searching: false,
          paging: false,
        });

        elem.on('click', 'td.process-name', function() {
          var tr = $(this).closest('tr');
          var row = table.row(tr);

          if (row.child.isShown() ) {
            row.child.hide();
            tr.find('.arrow').removeClass("fa-rotate-180");
          } else {
            var elem = $("#server-proc-" + tr.data("id"));
            row.child(elem.html()).show();
            tr.find('.arrow').addClass("fa-rotate-180");
          }

        });
      });
    });
  </script>
</div>
