<%= render :partial => "shared/heading" %>

<%= form_tag(server_path(@server), method: :put, class: "edit_server") do %>
  <div class="form-group name">
    <%= label :server, :name, "Server name:" %>
    <%= text_field :server, :name, :class => "form-control" %>
  </div>
  <div class="form-group tags">
    <%= label :server, :tags, "Server tags:" %>
    <%= collection_select(:server, :tags, current_account.tags, :tag, :tag,
                          {selected: @server.tags.pluck(:tag)},
                          {multiple: true, class: "form-control tag-select"}) %>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit">Update Server</button>
  </div>
<% end %>
