<section id="newservers" style="padding-top: 10px;">
  <div class="fixed-side-menu">
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        <div style="margin-top: 20px;">
          <%= image_tag "canary-egg.medium.png", :style => "width: 150px" %>
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li><h2>Add a server</h2></li>
          <li><a href="#howitworks">How does it work?</a></li>
          <li><h5>How to install:</h5></li>
          <li><a href="#ansible">Using Ansible</a></li>
          <li><a href="#chef">Using Chef</a></li>
          <li><a href="#puppet">Using Puppet</a></li>
          <li><a href="#bash">Using Bash</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-7">

     <a name="howitworks" class="anchor-offset"></a>
    <h2>How does it work?</h2>
    <p>You tell us which files list your servers' and apps' dependencies, and our agent will periodically check if anything has changed. Whenever you make a deploy - or new packages are installed - we find out.</p>
    <p>We don't look at your code. We only ever see the files *explicitly listed* in the configuration. All of the agent's code is <b><a href="https://github.com/appcanary/agent" target="_blank">available on GitHub</a></b>.</p>




    <table class="table">
      <thead>
        <th>What platforms get notifications?</th>
        <th>Where can I install it?</th>
      </thead>
      <tr>
        <td>
          <span class="platform-logo"><%= image_tag "icon-ruby.png", :style => "width: 13px" %> Ruby</span>,
          <span class="platform-logo"><%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu</span>,
          <span class="platform-logo"><%= image_tag "icon-debian.png", :style => "width: 13px"%> Debian</span>,
          <span class="platform-logo"><%= image_tag "icon-centos.png", :style => "width: 13px"%> CentOS 7</span>
          <span class="platform-logo">(more soon, stay tuned!)</span>
        </td>
        <td>
          <span class="platform-logo"><%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu</span>, <span class="platform-logo"><%= image_tag "icon-debian.png", :style => "width: 13px"%> Debian</span>, <span class="platform-logo"><%= image_tag "icon-redhat.png", :style => "width: 13px"%> Redhat</span>, <span class="platform-logo"><%= image_tag "icon-centos.png", :style => "width: 13px"%> CentOS</span>, Amazon Linux and Linux Mint.
        </td>
      </tr>
    </table>

    <h4>How do you provision your servers?</h4>

    <%= eui_button "#{image_tag "icon-ansible.png", :style => "width: 15px"} Using Ansible".html_safe, href: "#ansible" %>
    <%= eui_button "#{image_tag "icon-chef.png", :style => "width: 15px"} Using Chef".html_safe, href: "#chef" %>
    <%= eui_button "#{image_tag "icon-puppet.png", :style => "width: 15px"} Using Puppet".html_safe, href: "#puppet" %>
    <%= eui_button "<span style='font-family: monospace'>#!</span> Using the shell".html_safe, href: "#bash" %>

    <br/>
    <br/>

  
       <br/>

    <!-- <h2>How does it work?</h2> -->
    <!-- <ul> -->
    <!--   <li>We track <strong><%= number_with_delimiter(@vulnerabilities_count) %></strong> vulnerabilities across <strong><%= number_with_delimiter(@artifacts_count) %></strong> packages so you don't have to. </li> -->
    <!--   <li>Whenever a vulnerability that affects your servers comes out, you receive an email.</li> -->
    <!--   <li>We tell you how to patch your servers and your apps and stay safe.</li> -->
    <!-- </ul> -->
    <!-- <p>Here is a screenshot:</p> -->

    <!-- <div style="width: 300px; margin&#45;left: auto; margin&#45;right: auto; margin&#45;bottom: 20px;"> -->
    <!--   <a href="#screenshot" data&#45;toggle="modal" data&#45;target="#screenshot"><%= image_tag "screenshot&#45;vuln.jpg", :style => "width: 300px; border: 1px solid black" %></a> -->
    <!-- </div> -->

    <!--  -->
    <!-- <br/> -->
    <h2>How to install:</h2>
    <br/>
    <a name="ansible" class="anchor-offset"></a>
    <%= render :partial => "ansible" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <a name="chef" class="anchor-offset"></a>
    <%= render :partial => "chef" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <a name="puppet" class="anchor-offset"></a>
    <%= render :partial => "puppet" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <a name="bash" class="anchor-offset"></a>
    <%= render :partial => "bash" %>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="modal fade" id="screenshot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Screenshot</h4>
        </div>
        <div class="modal-body">
          <%= image_tag "screenshot-vuln.jpg", :style => "width: 725px;" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
