<section id="onboarding" style="padding-top: 10px;">
  <div class="col-sm-3">

    <div style="width: 200px; margin-left: auto; margin-right: auto;">
      <%= image_tag "canary-egg.medium.png", :style => "width: 200px" %>
    </div>

    <h3>Welcome!</h3>
    <h4>Problems? Feedback?</h4>
    <p>Hit up <a href="mailto:hello@appcanary.com">hello@appcanary.com</a>, or click the button below.</p>
    <p>We <b>really</b> want to hear from you.</p>
    <%= eui_button "Hey, I got opinions", href: "", :class => "eui-button-medium-primary feedback" %>


  </div>
  <div class="col-sm-6">
    <section>
      <div class="onboard-box" style="margin-bottom: 10px">
        <div class="onboard-wrapper">
          <section>
            <div class="onboard-title">
              <h3>How it works</h3>
            </div>
          </section>
          <section>
            <div class="onboard-desc">
                <ol>
                  <li>Install our <b>tiny</b> agent. It's written in golang and it's <a href="https://github.com/appcanary/agent" target="_blank">entirely open source and up on github</a>. Tell us what you think.</li>
                  <li>The agent figures out what you have installed and <b>sends you an email when you're vulnerable to security flaws</b>.</li>
                  <li>There is no step three.</li>
                </ol>
              </p>

              <p>Currently we can tell you about vulnerable
                <span>
                  <%= image_tag "icon-ruby.png", :style => "width: 13px" %> Ruby </span> and
                <span>
                  <%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu</span> packages, and we're adding more real soon.
              </p>

            </div>
          </section>
        </div>
      </div>

      <div class="onboard-box">
        <div class="onboard-wrapper">
          <section style="border: none">
            <div class="onboard-title">
              <h3>Instructions</h3>
              <br/>
              <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#deb" data-toggle="tab"><%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu and <%= image_tag "icon-debian.png", :style => "width: 13px"%> Debian</a></li>
                <li role="presentation"><a href="#rpm" data-toggle="tab"><%= image_tag "icon-redhat.png", :style => "width: 13px"%> Redhat, <%= image_tag "icon-centos.png", :style => "width: 13px"%> CentOS and Amazon</a></li>
              </ul>
            </div>
          </section>

          <section>
            <div class="onboard-desc">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="deb">
                  <%= render :partial => "debian" %>
                </div>

                <div role="tabpanel" class="tab-pane active" id="rpm">
                  <%= render :partial => "redhat" %>
                </div>

              </div>
            </div>
          </section>


          <section>
            <div class="action-bar">
              <div class="pull-right">
                <%= eui_button "Feedback", href: "", :class => "eui-button-medium-primary feedback" %>
                <%= eui_button "Great. I've done all of this!", href: dashboard_path(done: true) %>
              </div>

            </div>
          </section>

        </div>
      </div>
    </section>
  </div>

</section>

