<section id="onboarding" style="padding-top: 10px;">
  <div class="col-sm-3">
    <div class=" sidemenu">
      <div class="sidewrapper">
        <div style="margin-top: 20px;">
          <%= image_tag "canary-egg.medium.png", :style => "width: 150px" %>
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li><h2>Welcome!</h2></li>
          <li><a href="#whatiget">What do I get?</a></li>
          <li><a href="#howitworks">How does it work?</a></li>
          <li><h5>Getting Started</h5></li>
          <li><a href="#chef">Using Chef</a></li>
          <li><a href="#puppet">Using Puppet</a></li>
          <li><a href="#bash">Using Bash</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">

    <a name="whatiget" class="anchor-offset"></a>
    <h2>What do I get?</h2>
    <ul>
      <li>We track <strong><%= number_with_delimiter(@vulnerabilities_count) %></strong> vulnerabilities across <strong><%= number_with_delimiter(@artifacts_count) %></strong> packages so you don't have to. </li>
      <li>Whenever a vulnerability that affects your servers comes out, you receive an email.</li>
      <li>We tell you how to patch your servers and your apps and stay safe.</li>
    </ul>
    <p>Here is a screenshot:</p>

    <div style="width: 300px; margin-left: auto; margin-right: auto; margin-bottom: 20px;">
      <a href="#screenshot" data-toggle="modal" data-target="#screenshot"><%= image_tag "screenshot-vuln.jpg", :style => "width: 300px; border: 1px solid black" %></a>
    </div>

    <table class="table">
      <thead>
        <th>What platforms get notifications?</th>
        <th>Where can I install it?</th>
      </thead>
      <tr>
        <td><span class="platform-logo">
            <%= image_tag "icon-ruby.png", :style => "width: 13px" %> Ruby</span>,
          <span class="platform-logo">
            <%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu</span> <span class="platform-logo">(more soon, stay tuned!)</span>
        </td>
        <td>

          Most versions of <span class="platform-logo"><%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu</span>, <span class="platform-logo"><%= image_tag "icon-debian.png", :style => "width: 13px"%> Debian</span>, <span class="platform-logo"><%= image_tag "icon-redhat.png", :style => "width: 13px"%> Redhat</span>, <span class="platform-logo"><%= image_tag "icon-centos.png", :style => "width: 13px"%> CentOS</span>, Amazon and Mint Linux.</a>
      </td>
    </tr>
  </table>

  <a name="howitworks" class="anchor-offset"></a>
  <h2>How does it work?</h2>
  <p>We monitor the dependencies your application depends on. Right now this means you install our <b>tiny</b> agent. It's written in golang and it's <b><a href="https://github.com/appcanary/agent" target="_blank">entirely open source</a></b>.
  </p>
  <p>You tell us which files list your server's dependencies, and we keep track of them. We only ever see the files *explicitly listed* in the configuration. Whenever you make a deploy - or new packages are installed - we find out.
    <h2>Getting started</h2>
    <br/>
    <a name="chef" class="anchor-offset"></a>
    <%= render :partial => "chef" %>
    <br>
    <br>
    <br>
    <br>
    <a name="puppet" class="anchor-offset"></a>
    <%= render :partial => "puppet" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <a name="bash" class="anchor-offset"></a>
    <%= render :partial => "bash" %>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>


<div class="modal fade" id="screenshot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Screenshot</h4>
      </div>
      <div class="modal-body">
        <%= image_tag "screenshot-vuln.jpg", :style => "width: 725px;" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
