<div id="newservers">
  <section>
    <div class="col-sm-6 col-sm-offset-1">
      <h1>Add a server to Appcanary</h1>
      <p>Using our agent is the easiest way to keep your infrastructure in sync with Appcanary. All of the agent's code is <b><a href="https://github.com/appcanary/agent" target="_blank">available on GitHub</a></b>.</p>

      <h3>What platform do you use?</h3>

      <%= form_for(current_user, remote: true) do |f| %>

        <div class="server-os-prefs" data-toggle="buttons">
          <% Platforms.select_operating_systems.each do |plt, fname| %>

            <% op_klass = current_user.pref_os == plt ? "active" : "" %>
            <%= label_tag "pref_os", class: "btn btn-default #{op_klass}" do %>

              <%= f.radio_button :pref_os, plt %>
              <span class="platform-logo"><%= image_tag "icon-#{plt}.png", :style => "width: 20px;margin-left: 2px;"%> <%= fname %></span>

            <% end %>
          <% end %>
          <br/>
          <br/>
        </div>
      <% end %>

      <%# <%= eui_button "None of the above! I need help.", href: "mailto:hello@appcanary.com?subject=\"Problem with operating systems\"", :class => "eui-button-medium-primary feedback-problem", :target => "_blank" %>
       

      <%= form_for(current_user, remote: true) do |f| %>

        <% sdp_klass = current_user.pref_os.present? ? "" : "collapse" %>
        <div class="server-deploy-prefs <%=sdp_klass%>" data-toggle="buttons">

          <h3>How do you provision your servers?</h3>
          <% [["Ansible", "ansible",  image_tag("icon-ansible.png", :style => "width: 15px")],
              ["Chef", "chef", image_tag("icon-chef.png", :style => "width: 15px")],
              ["Puppet", "puppet", image_tag("icon-puppet.png", :style => "width: 15px")],
              ["the shell", "shell", content_tag("span", "#!", style: 'font-family: monospace')]].each do |tag, plt, img| %>

            <% dp_klass = current_user.pref_deploy == plt ? "active" : "" %>
            <%= label_tag "pref_deploy", class: "btn btn-default #{dp_klass}" do %>
              <%= f.radio_button :pref_deploy, plt %>
              <%= img %> Using <%= tag %>
            <% end %>

          <% end %>
        </div>
      <% end %>

    </div>

    <div class="col-sm-3">
      <%= image_tag "canary-nest.medium.png", style: "width: 100%" %>
    </div>
  </section>

  <br/>

  <section>
    <div class="col-sm-6 col-sm-offset-1">

      <div id="btn-deploy">
        <%= render :partial => "ansible" %>
        <%= render :partial => "chef" %>
        <%= render :partial => "puppet" %>
        <%= render :partial => "bash_rpm" %>
        <%= render :partial => "bash_deb" %>
      </div>
    </div>
  </section>
</div>
