<section>
  <div class="col-sm-4">

    <div style="width: 200px; margin-left: auto; margin-right: auto;">
      <%= image_tag "canary-egg.medium.png", :style => "width: 200px" %>
      <% if @onboardd %>
        <h3 style="text-align: center">Howdy!</h3>
      <% else %>
        <h3 style="text-align: center">Welcome!</h3>
      <% end %>
    </div>

    <p>Canary works by monitoring your infrastructure. You will need to install our agent.</p>
    <p>Current, we only support 
      <span>
        <%= image_tag "icon-ruby.png", :style => "width: 13px" %> Ruby </span> and
      <span>
        <%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu, </span> but we're hard at work adding other platforms.
    </p>

    <h4>Problems? Suggestions?</h4>
    <p>Forgive us, we're still a little rough around the edges. Contact us at hello@appcanary.com for any and all reasons.</p>


  </div>

  <div class="onboard-box">
    <div class="onboard-wrapper">
      <section>
        <div class="onboard-title">
          <h3>Instructions</h3>
        </div>
      </section>

      <section>
        <div class="onboard-desc">
          <h4>Step 1.</h4>
          <p>Open a shell on your favourite server. The following script adds our repository to your apt sources, and installs our package:
            <kbd>curl -s https://appcanary.com/servers/install.sh | sudo bash</kbd>
            <br/>
            (instructions for chef, ansible, etc, coming soon)
          </p>

          <h4>Step 2.</h4>
          <p>Now edit the configuration. 
            <br/>
            <kbd>$EDITOR /etc/appcanary/agent.conf</kbd>
            <br/>
            You're going to need to add your API key, so feel free to copy and paste the following:
            <br/>
            <pre>
api_key = "<%= @agent_token %>"

[[files]]
# Add files to monitor here
# path = "/var/www/someapp/current/Gemfile.lock"

# if you are on ubuntu, uncomment these lines
#[[files]]
#path = "/var/lib/dpkg/available"
</pre>
            Finally, point the config file to your <code>Gemfile.lock</code> using its full qualified path.
          </p>

          <h4>Step 3.</h4>
          <p>Start the agent. We shipped an upstart script, so type:
            <br/>
            <kbd>start appcanary</kbd>
          </p>
        </div>
      </section>


      <section>
        <div class="action-bar">
          <div class="pull-right">
            <%= eui_button "Feedback", href: "", :class => "eui-button-medium-primary feedback" %>
            <%= eui_button "Great. I've done all of this!", href: dashboard_path(done: true) %>
          </div>

        </div>
      </section>

    </div>
  </div>


</section>

