<%= render :partial => "shared/heading" %>

<section>
  <div class="server-info">
    <table class="table">
      <thead>
        <th>
          hostname
        </th>
        <th>
          address
        </th>
        <th>
          last heartbeat
        </th>
        <th>
          uname
        </th>
        <th>
          tags
        </th>
      </thead>
      <tbody>
        <tr>
          <td> 
            <%= @serverpres.display_name %>
          </td>
          <td>
            <%= @serverpres.ip %>
          </td>
          <td>
            <%= "#{time_ago_in_words_or_never @serverpres.last_heartbeat_at} ago" %>
          </td>
          <td>
            <%= @serverpres.uname %>
          </td>
          <td>
            <%= @serverpres.tags.join(", ") %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<% if @account.show_processes? %>
  <%= render :file => "servers/procs" %>
<% end %>

<section>
  <div class="server-apps">
    <% if @serverpres.bundles.any? %>
      <span class="tabletitle"><h3>Apps and dependencies</h3> <%= link_to "Export to CSV", server_path(@serverpres, format: "csv"), class: "btn btn-sm btn-default" %></span>

      <table class="table apps">
        <% @serverpres.bundles.each do |bundlepres| %>
          <tr>
            <%= render :partial => "apps/list", :locals => { :bundlepres => bundlepres } %>
          </tr>
        <% end %>
      </table>
    
    <% else %>
      <h3>Hey! We don't seem to be monitoring any apps.</h3>
      <p> 
        Please consult the 
        <%= link_to "server docs page", new_server_path %>
        for instructions. You're probably just slightly misconfigured.
        If you run into trouble, click the feedback button above.
      </p>
    <% end %>
  </div>
</section>

<% if false %>
  <section>
    <div class="server-processes">
      <% if @serverpres.has_outdated_processes? || debug_server_processes? %>
        <span class="tabletitle"><h4>Stale processes</h4></span>
        <p>Here you'll find stale processes, defined as processes which have yet to be restarted after a dependent library was patched/updated on your server.</p>

        <% server_processes(@serverpres).each do |server_process| %>
          <div class="panel-group"
               id="accordion"
               role="tablist"
               aria-multiselectable="true">

            <%= render :partial => "procs/list", :locals => { :process => server_process } %>
          </div>
        <% end %>
      <% elsif ! @serverpres.has_processes? %>
        <h4>We don't seem to be getting process telemetry from <%= @server.name %></h4>
      <% end %>
    </div>
  </section>
<% end %>
