= render :partial => "shared/heading"

%section
  .server-info
    %table.table
      %thead
        %th
          hostname
        %th
          address
        %th
          last heartbeat
        %th
          uname
      %tbody
        %tr
          %td 
            =@server.display_name
          %td
            = @server.ip
          %td
            = "#{time_ago_in_words @server.last_heartbeat_at} ago"
          %td
            =@server.uname
              

%section
  .server-apps
    - if @server.apps.present?
      %h4 Apps and dependencies:
      %table.table.apps
        - @server.apps.each do |app|
          %tr
            = render :partial => "apps/list", :locals => { :app => app }

    - else
      %h3 Hey! We don't seem to be monitoring any apps.
      %p 
        Please consult the 
        = link_to "onboarding page", onboarding_path
        for instructions.
        Ideally we'd tell you a bit more than this, but we're hard at work to improve this page!


    = eui_button "Feedback", href: "", :class => "eui-button-medium-primary feedback"
