<% if params[:source] %>
<%   form_path = beta_sign_up_path(params[:source]) %>
<% else %>
<%  form_path = create_sign_up_path %>
<% end %>
<div class="sign-up_form-group">
  <%= form_for @user, :url => form_path, :class => "full-sign-up" do |f| %>
    <div class="form-fields">
      <%= label_with_error(f, @user, :email) %>
      <%= f.email_field :email, :placeholder => "jane@example.com" %>

      <%= label_with_error(f, @user, :name) %>
      <%= f.text_field :name, :placeholder => "Jane Doe" %>

      <%= label_with_error(f, @user, :password) %>
      <%= f.password_field :password, :placeholder => "A secret only you know" %>

      <%= label_with_error(f, @user, :password_confirmation) %>
      <%= f.password_field :password_confirmation, :placeholder => "The above again, to make sure" %>
     
      <%= f.hidden_field(:beta_signup_source, :value => params[:source]) if params[:source] %>
    </div>
    <button type="submit">Sign up now</button>
  <% end %>
</div>

