<a name="check-endpoint" class="anchor-offset"></a>
<h1>Check API</h1>
<h2>Request</h2>
<h4><code>POST https://appcanary.com/api/v2/check/:platform/:release</code></h4>

<p>Check your dependencies for vulnerabilities. For example, with Ruby:</p>

<pre class="bash">curl -H "Authorization: Token <%= @user.agent_token %>" \
 https://appcanary.com/api/v2/check?platform=<strong>ruby</strong> -X POST \
 -F <strong>file</strong>=@./Gemfile.lock
</pre>

<strong>or</strong>

<pre class="bash">curl -H "Authorization: Token <%= @user.agent_token %>" \
 https://appcanary.com/api/v2/check?platform=<strong>ubuntu</strong>&amp;release=<strong>14.04</strong> -X POST \
 -F <strong>file</strong>=@/var/lib/dpkg/status
</pre>

<h4>Required URL query parameters</h4>
<%= render :partial => "platform_release_parameters" %>

<h4>Required query parameters</h4>
<%= render :partial => "file_parameter" %>
<hr>

<p>The purpose of this endpoint is to show which vulnerabilities your app's dependencies are affected by.</p> 
<p>At the moment we only accept requests with <code>Content-Type: multipart/form-data</code> with an embedded <code>application/octet-stream</code>. If you need to send data in a different format, please let us <a href="mailto:hello@appcanary.com">know</a>.</p>

<h4>Please note!</h4>
<p>We cache requests. We strive to discard sensitive information but be mindful when submitting files containing credentials.</p>
<p>All requests are currently unmetered. This may change as appropriate.</p>

<hr>
<a name="check-response" class="anchor-offset"></a>
<h2>Response</h2>
<p>Successful requests will have a <code>200 OK</code> response code containing <code>application/json</code> data.</p>
<p>All successful responses will be wrapped in a <code>"data"</code> container object and contain a <code>"vulnerable"</code> boolean field. This container object <strong>shall always</strong> contain an array, whether it's empty or not. This schema is loosely based on the <a href="http://jsonapi.org/">jsonapi</a> spec.</p>
<p>For example, if your dependency file does not have any known vulnerabilities, the response body will look like this:</p>
<pre class="json">
{
  "vulnerable": false,
  "data": []
}
</pre>
    
<h4>The response container object</h4>
<% render :partial => "response_coll_container_fields" %>

<p>However, if your app does have vulnerable dependencies, then the container object will consist of a series of <code>artifact-version</code> objects, and look like the following example response:</p>
<pre class="json">
{
  "vulnerable": true,
  "data": [
    {
      "type": "artifact-version",
      "attributes": {
        "name": "rack",
        "kind": "rubygem",
        "number": "1.6.0",
        "vulnerabilities": [
          {
            "title": "Potential Denial of Service Vulnerability in Rack",
            "description": "Carefully crafted requests can cause a `SystemStackError` and potentially \ncause a denial of service attack. \n\nAll users running an affected release should upgrade.",
            "criticality": "high",
            "cve": [
              "CVE-2015-3225"
            ],
            "osvdb": [],
            "patched-versions": [
              "~&lt; 1.5.4",
              "~&lt; 1.4.6",
              "&gt;= 1.6.2"
            ],
            "unaffected-versions": [],
            "uuid": "55807540-053f-40f0-9266-a3d1ca6a5838",
            "upgrade-to": [
              "&gt;= 1.6.2"
            ]
          }
        ]
      }
    }
  ]
}
</pre>
<h4>ArtifactVersion container object</h4>
<%= render :partial => "artifact_version_container_fields" %>

<h4>ArtifactVersion attributes object</h4>
<%= render :partial => "artifact_version_fields" %>

<h4>Vulnerability object</h4>
<%= render :partial => "vulnerability_fields" %>

