<a name="list-servers" class="anchor-offset"></a>
<h1>Server API</h1>
  <p>The <em>server</em> allows you to query information about servers that you register with our <a href="http://localhost:3000/servers/new">agents</a>.</p>
  <h2>List Servers</h2>
    <p>To list all of the servers you have registered:</p>
    <h4><code>GET https://appcanary.com/api/v3/servers</code></h4>

    <p>For example</p>
    
    <pre class="bash auth_token">curl -H "Authorization: Token <%= @agent_token %>" \
      https://appcanary.com/api/v3/servers</pre>


    <a name="list-monitors-response" class="anchor-offset"></a>
  <h2>List Servers Response</h2>
    <p>Successful requests will have a <code>200 OK</code> response code containing <code>application/json</code> data, which shall always contain an array.</p>
    <p>All successful responses will be wrapped in a <code>"data"</code> container object.

    <p>For example, a response body will look like this:</p>
    <pre class="json">
{
  "data": [
    {
      "id": "479",
      "type": "servers",
      "attributes": {
        "name": "",
        "uuid": "576af72e-f8ea-4fd6-a117-6fdf26a2eacc",
        "hostname": "debian-jessie",
        "last-heartbeat-at": null
      },
      "relationships": {
        "monitors": {
          "data": [
            {
              "id": "717",
              "type": "monitors"
            }
          ]
        }
      }
    },
  ],
  "included": [
    {
      "id": "717",
      "type": "monitors",
      "attributes": {
        "name": "my-server",
        "vulnerable": true,
        "created-at": "2016-10-03T20:33:08.889Z"
      }
    }
  ]
}
    </pre>
    
    <h4>The response container object</h4>
    <%= render :partial => "response_coll_container_fields" %>

    <h4>Server object</h4>
    <%= render :partial => "server_fields" %>

    <h4>Monitor object </h4>
    <%= render :partial => "app_fields" %>

    <hr>
    <br/>
    <br/>

<a name="show-server" class="anchor-offset"></a>
 <h2>Show Server</h2>
    <p>To show details about a specific server:</p>
    <h4><code>GET https://appcanary.com/api/v3/servers/<strong>:uuid</strong></code></h4>

    <p>For example</p>

    <pre class="bash auth_token">curl -H "Authorization: Token <%= @agent_token %>" \
      https://appcanary.com/api/v3/servers/<strong>576af72e-f8ea-4fd6-a117-6fdf26a2eacc</strong></pre>

    <h4>Required path parameters</h4>
    <%= render :partial => "server_uuid" %>

    <h2>Show Server Response</h2>
    <p>Successful requests will have a <code>200 OK</code> response code containing <code>application/json</code> data.</p>
    <p>All successful responses will be wrapped in a <code>"data"</code> container object.

    <p>For example, a response body will look like this:</p>
    <pre class="json">
{
  "data": {
    "id": "479",
    "type": "servers",
    "attributes": {
      "name": "",
      "uuid": "576af72e-f8ea-4fd6-a117-6fdf26a2eacc",
      "hostname": "debian-jessie",
      "last-heartbeat-at": null
    },
    "relationships": {
      "monitors": {
        "data": [
          {
            "id": "717",
            "type": "monitors"
          },
        ]
      }
    }
  },
  "included": [
    {
      "id": "717",
      "type": "monitors",
      "attributes": {
        "name": "my-server",
        "vulnerable": true,
        "created-at": "2016-10-03T20:33:08.889Z"
      },
      "relationships": {
        "packages": {
          "data": [
            {
              "id": "37495",
              "type": "packages"
            }
          ]
        },
        "vulnerabilities": {
          "data": [
            {
              "id": "2239",
              "type": "vulnerabilities"
            }
          ]
        }
      }
    },

    {
      "id": "37495",
      "type": "packages",
      "attributes": {
        "name": "rack",
        "platform": "ruby",
        "release": null,
        "version": "1.6.0",
        "upgrade-to": [
          "1.6.2"
        ]
      },
      "relationships": {
        "vulnerabilities": {
          "data": [
            {
              "id": "2239",
              "type": "vulnerabilities"
            }
          ]
        }
      }
    },
    {
      "id": "2239",
      "type": "vulnerabilities",
      "attributes": {
        "title": "Potential Denial of Service Vulnerability in Rack\n",
        "description": "Carefully crafted requests can cause a `SystemStackError` and potentially \ncause a denial of service attack. \n\nAll users running an affected release should upgrade. \n",
        "criticality": "medium",
        "cvss": "5.2",
        "reference-ids": [
          "CVE-2015-3225"
        ]
      }
    }
  ]
}
    </pre>

    <h4>The response container object</h4>
    <%= render :partial => "response_container_fields" %>

    <h4>Server object</h4>
    <%= render :partial => "server_fields" %>

    <h4>Monitor object </h4>
    <%= render :partial => "app_fields" %>

    <h4>Package container object</h4>
    <%= render :partial => "artifact_version_container_fields" %>

    <h4>Package attributes object</h4>
    <%= render :partial => "artifact_version_fields" %>

    <h4>Vulnerability object</h4>
    <%= render :partial => "vulnerability_fields" %>
<hr>
<br/>
<br/>
<a name="delete-server" class="anchor-offset"></a>
    <h2>Delete Server</h2>
    <p>To delete a server:</p>
    <h4><code>DELETE https://appcanary.com/api/v3/servers/<strong>:uuid</strong></code></h4>

    <p>For example</p>
    
    <pre class="bash auth_token">curl -H "Authorization: Token <%= @agent_token %>" \
     -X DELETE \
     https://appcanary.com/api/v3/servers/<strong>576af72e-f8ea-4fd6-a117-6fdf26a2eacc</strong></pre>


    <h2>Delete Server Response</h2>
    <p>Successful requests will have a <code>204 NO CONTENT</code> response code containing no data.</p>
