<div id="docs">
  <section>

    <div class="col-sm-6 col-sm-offset-1">

      <h1>Documentation</h1>
      <p>Welcome to Appcanary!</p>
      <h3>Here's how the service works:</h3>
      <ol>
        <li>
          You let us know what is installed on your servers and apps.
        </li>
        <li>
          We let you know when you have security vulnerabilities.
        </li>
        <li>Everyone sleeps soundly at night.</li>
      </ol>

      <div class="preamble">
        <table class="table">
          <thead>
            <th>We support the following platforms:</th>
          </thead>
          <tr>
            <td>
              <span class="platform-logo"><%= image_tag "icon-ruby.png", :style => "width: 13px" %> Ruby</span>,
              <span class="platform-logo"><%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu</span>,
              <span class="platform-logo"><%= image_tag "icon-debian.png", :style => "width: 13px"%> Debian </span>,
              <span class="platform-logo"><%= image_tag "icon-centos.png", :style => "width: 13px"%> CentOS</span>,
              <span class="platform-logo"><%= image_tag "icon-amzn.png", :style => "width: 13px"%> Amazon Linux</span>
            </td>
          </tr>
        </table>
      </div>

      <h3>Here are the different ways you can use our service:</h3>

      <ol>
        <li>
          <p>
            <strong><%= link_to "Install our agent on your servers.", new_server_path %></strong>
            <br/>
            <small>Great for providing audit trails!</small>
          </p>
        </li>

        <li>
          <p>
            <strong><%= link_to "Add checks to your test suite or continuous integration", ci_docs_path %></strong>
            <br>
            <small>Don't deploy software with known vulnerabilities.</small>
          </p>
        </li>

        <li>
          <p>
            <strong>Use our APIs to automate reports</strong>
            <br>
            <small>The world is your oyster.</small>
          </p>
        </li>
    </ol>



    </div>
     <div class="col-sm-4">

      <%= image_tag "canary-map.medium.stroke.png", style:"max-width: 100%" %>
    </div>
  </section>
</div>


<section id="docs">
 
  <div class="col-sm-7 col-sm-offset-2">
    <a name="start" class="anchor-offset"></a>
    <h1>Hello!</h1>
    <p>Welcome to Appcanary. There are many ways to use our service. Here are a few!</p>

     <ol>
      <li>
        <p>
          <strong><%= link_to "Install our agent on your servers.", new_server_path %></strong>
          <br/>
          <small>Great for providing audit trails!</small>
        </p>
      </li>

      <li>
        <p>
          <strong>Add checks to your test suite or continuous integration</strong>
          <br>
          <small>Don't deploy software with known vulnerabilities.</small>
        </p>
      </li>

      <li>
        <p>
          <strong>Use our APIs to automate reports</strong>
          <br>
          <small>The world is your oyster.</small>
        </p>
      </li>
    </ol>


  </div>
</section>
