<div class="top-menu-wrapper">
  <section>
    <div class="top-menu">
      <div class="logo">
        <%= link_to image_tag("appcanary-hero.png", :alt => "Appcanary"), "/" %>
      </div>

      <div class="menu-action">
        <div class="explore">
          <%= link_to "About", "/#about", :class => "nav" %>
          <%= link_to "Blog", "http://blog.appcanary.com", :class => "nav" %>
          <%= link_to "Pricing", "/#pricing", :class => "nav" %>
          <%= link_to "Documentation", "/docs", :class => "nav mobile-hide" %>

          <%= link_to "Vulnerabilities", "/vulns", :class => "nav" %>
        </div>
        <div class="interact">
          <%= link_to "Log in", login_path, :class => "login button" %>

          <% unless $rollout.active?(:acquired) %>
            <%= link_to "Sign Up", sign_up_path, :class => "sign-up button" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
