<div class="topbar"></div>

<div class="action">
  <div class="action_unit action_login">
    <%= link_to "Log in", login_path, :class => "button" %>
  </div>
  <div class="action_unit action_sign-up">
    <%= link_to "Sign Up", login_path, :class => "button" %>
  </div>
</div>


<div class="hero-wrapper">
  <div class="hero">

    <div class="hero_logo">
      <%= image_tag "appcanary-hero.png" %>
    </div>

    <h1 class="hero_sell-line">Never run vulnerable<br>software again.</h1>

    <div class="hero_form-group">
      <div class="flash subhed" style="display: none">
        <p>Thanks! We&rsquo;ll be in touch soon.</p>
      </div>
      <%= form_tag "/beta/list", :method => :post, :name => :user, :class =>"hero_sign-up" do %>
        <input type="email" name="email" class="form-control input-md" placeholder="jane@example.com">
        <button type="submit" class="btn btn-default">Get started</button>
      <% end %>
    </div>

  </div>
</div>

<div class="landing-container">

  <div class="unit">
    <h2>How it works</h2>
    <div class="how-unit">
      <%= image_tag "howto-1.png" %>
      <h3>We sit on your servers. Installing our <a href="http://www.github.com/appcanary/agent">agent</a> takes five minutes.</h3>
    </div>
    <div class="how-unit">
      <%= image_tag "howto-2.png" %>
      <h3>We find out what software is vulnerable.</h3>
    </div>
    <div class="how-unit">
      <%= image_tag "howto-3.png" %>
      <h3>You fix your security issues and look like a hero.</h3>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; Manufactured by Canary Computer Corporation , 2015</p>
  </footer>

</div>
