<%= render :partial => "shared/top_menu" %>

<div class="hero-wrapper">
  <div class="hero-main">

    <div class="hero_sell-line">
      <h1>Stop worrying about security patches.</h1>
      <h3>Appcanary monitors your apps and servers, and notifies you whenever you're vulnerable.</h3>

      <h3 class="cta">Try us for free:</h3>

    </div>
    <div class="hero_form-group">
      <div class="flash subhed" style="display: none">
        <p>Thanks! We&rsquo;ll be in touch soon.</p>
      </div>
      <div class="hero_sign-up">
        <%= form_for @preuser, :url => pre_sign_up_path do |f| %>
          <%= f.email_field :email, :class => "form-control input-md", :placeholder => "jane@example.com" %>

          <button type="submit" class="btn btn-default signup">Get started</button>
        <% end %>
      </div>
    </div>

    <div class="illustration">
      <%= image_tag "iterm-screenshot.short2.png", :class => "gasp" %>
    </div>

  </div>

</div>

<div class="unit-container">
  <div class="unit vulns">
    <h3 style="padding-bottom: 20px">Don't find out about security vulnerabilities through Twitter or Hacker News.</h3>
    <h3>Show your boss how effective you are at keeping your systems safe.</h3>
  </div>
</div>

<div class="unit-container">
  <div class="unit vulns">

    <h3>We&rsquo;re currently tracking more than</h3>
    <h1><%= number_with_delimiter(@vulnerabilities_count) %> vulnerabilities</h1>
    <h3>over hundreds of thousands of packages<br/>across Ruby, Ubuntu and CentOS</h3>
  </div>
</div>


<div class="unit-container">
  <div class="unit how">
    <div class="unit_how">
      <h2 class="title">Agent</h2>
      <%= image_tag "canary.bluejay.medium.png" %>
      <h3>Our agent stays with your servers and checks up on them regularly.</br><br/>It's very polite and discreet.</h3>
    </div>
    <div class="unit_how">
      <h2 class="title">Check API</h2>
      <%= image_tag "canary.pigeon.medium.png" %>
      <h3>Check with us whenever you run tests, or submit pull requests.</h3>
    </div>
    <div class="unit_how">
      <h2 class="title">Monitor API</h2>
      <%= image_tag "canary.sparrow.medium.png" %>
      <h3>Let us know whenever you deploy and we'll notify you later.</br><br/>Works great with Docker and Heroku!</h3>
    </div>
  </div>
</div>



<a name="pricing"></a>
<div class="unit-container">
  <div class="unit">
    <h2>Pricing</h2>
    <div class="pricing-row">
      <div class="label">
      </div>
      <div class="tier">
        <h3>Small</h3>
      </div>
      <div class="tier">
        <h3>Medium</h3>
      </div>
      <div class="tier">
        <h3>Large</h3>
      </div>
      <div class="tier">
        <h3>Enterprise</h3>
      </div>
    </div>

    <div class="pricing-row">
      <div class="label">
      </div>
      <div class="tier">
        <p class="price"><span class="value">$29</span><br/>per month</p>
        &nbsp;
      </div>
      <div class="tier">
        <p class="price"><span class="value">$99</span><br/>per month</p>
        &nbsp;
      </div>
      <div class="tier">
        <p class="price"><span class="value">$299</span><br/>per month</p>
        &nbsp;
      </div>
      <div class="tier">
        <p>Click <a href="mailto:hello@appcanary.com?subject=Enterprise" target="_blank">here</a> to chat.</p>
      </div>

    </div>

    <div class="pricing-row">
      <div class="label">
        <div>
          Monitored servers or apps
        </div>
      </div>

      <div class="tier">
        <div>1-5</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>6-15</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>16-50</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>╮ (. ❛ ᴗ ❛.) ╭ </div>
        &nbsp;
      </div>
    </div>

    <div class="pricing-row">
      <div class="label">
        <div>
          Check API calls
        </div>
      </div>

      <div class="tier">
        <div>50</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>200</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>500</div>
        &nbsp;
      </div>
      <div class="tier last">
        <div>Unlimited</div>
        &nbsp;
      </div>
    </div>
  </div>
</div>


<div class="unit-container unit-container_yellow">
  <div class="unit sign-up">
    <div class="riskfree">
      <h1>Get started with a risk-free 14 day trial.</h1>
    </div>
    <%= render :partial => "users/new_form" %>
  </div>
</div>

<a name="team"></a>
<div class="unit-container">
    <div class="unit about">
      <h2>About</h2>
      <div class="bio">
        <div class="unit_about phill">
          <div class="half">
            <a href="https://twitter.com/phillmv">
              <%= image_tag "phillmv.png" %>
              <h1>Phill MV</h1>
            </a>
          </div>
          <div class="half">
            <a href="https://twitter.com/mveytsman">
              <%= image_tag "mveytsman.png" %>
              <h1>Max Veytsman</h1>
            </a>
          </div>
          <div class="full">
            <p>In 2012, Phill and Max started a security and web development consultancy together. In 2013, they cofounded <a href="http://rubysec.com">Rubysec</a>, an open-source project that catalogues all Ruby-related software vulnerabilities. <br/><br/>In 2015, they shuttered the consultancy to begin working on Appcanary. That summer they moved to Mountain View, California to participate in <a href="https://ycombinator.com" class="yc">Y Combinator</a>. </p>
          </div>
        </div>
      </div>
  </div>
</div>

<%= render :partial => "shared/footer" %>
