<%= render :partial => "shared/top_menu" %>

<div class="hero-wrapper">
  <div class="hero-main">

    <div class="hero_sell-line">
      <h1>Stop worrying about security patches.</h1>
      <h3>Appcanary monitors your apps and servers, and notifies you whenever you're vulnerable.</h3>

      <h3 class="cta">Try us for free:</h3>

    </div>
    <div class="hero_form-group">
      <div class="flash subhed" style="display: none">
        <p>Thanks! We&rsquo;ll be in touch soon.</p>
      </div>
      <div class="hero_sign-up">
        <%= form_for @preuser, :url => pre_sign_up_path do |f| %>
          <%= f.email_field :email, :class => "form-control input-md", :placeholder => "jane@example.com" %>

          <button type="submit" class="btn btn-default signup">Get started</button>
        <% end %>
      </div>
    </div>

    <div class="illustration">
      <%= image_tag "iterm-screenshot.short3.png", :class => "gasp" %>
    </div>

  </div>

</div>

<div class="unit-container trust">
  <div class="unit">
    <h3>Trusted by:</h3>
    
    <div class="customer">
      &nbsp;
      <div class="brand">
        <a href="https://www.codeclub.org.uk/"><%= image_tag(image_path("logo-cc.png"), :style => "width: 40%;") %></a>
      </div>
    </div>

    <div class="customer">
      &nbsp;
      <div class="brand">
        <a href="https://eligible.com"><%= image_tag(image_path("logo-eligible.png")) %></a>
      </div>
    </div>

    <div class="customer">
      &nbsp;
      <div class="brand">
        <a href="https://procore.com"><%= image_tag(image_path("logo-procore.png")) %></a>
      </div>
    </div>

    <div class="customer">
      &nbsp;
      <div class="brand">
        <a href="https://www.reactiveops.com/"><%= image_tag(image_path("logo-reactive.png")) %></a>
      </div>
    </div> 

    <div class="customer">
      &nbsp;
      <div class="brand">
        <a href="https://curious.com"><%= image_tag(image_path("logo-curious.png")) %></a>
      </div>
    </div>

    <div class="customer">
      &nbsp;
      <div class="brand">
        <a href="https://www.ycombinator.com"><%= image_tag(image_path("logo-yc.png"), :style => "width: 40%;") %></a>
      </div>
    </div> 

  </div>
</div>


<div class="unit-container">
  <div class="unit vulns">
    <h3 style="padding-bottom: 20px">Don't find out about security vulnerabilities through Twitter or Hacker News.</h3>
    <h3>Show your boss how effective you are at keeping your systems safe.</h3>
  </div>
</div>

<div class="unit-container">
  <div class="unit vulns">

    <h3>We&rsquo;re currently tracking more than</h3>
    <h1><%= number_with_delimiter(@vulnerabilities_count) %> vulnerabilities</h1>
    <h3>over hundreds of thousands of packages:<h3>
        <br/>
    <h3><strong>Ruby</strong> gems like Rails, ActiveRecord, or multi_json</h3>
    <h3><strong>Linux</strong> packages like nginx, apache, or MongoDB <br/> on <strong>Ubuntu</strong>, <strong>Debian</strong>, <strong>CentOS</strong>, and <strong>Amazon Linux</strong></h3>
  </div>
</div>


<div class="unit-container">
  <div class="unit how">
    <div class="unit_how">
      <h2 class="title">Agent</h2>
      <%= image_tag "canary.bluejay.medium.png" %>
      <h3>Our agent stays with your servers and checks up on them regularly.</br><br/>It's very polite and discreet.</h3>
    </div>
    <div class="unit_how">
      <h2 class="title">Check API</h2>
      <%= image_tag "canary.pigeon.medium.png" %>
      <h3>Check with us whenever you run tests, or submit pull requests.</h3>
    </div>
    <div class="unit_how">
      <h2 class="title">Monitor API</h2>
      <%= image_tag "canary.sparrow.medium.png" %>
      <h3>Let us know whenever you deploy and we'll notify you later.</br><br/>Works great with Docker and Heroku!</h3>
    </div>
  </div>
</div>



<a name="pricing"></a>
<div class="unit-container">
  <div class="unit">
    <h2>Pricing</h2>

    <div class="pricing-row">
      <div class="label">
      </div>
      <div class="tier">
        <h3>Free</h3>
      </div>
      <div class="tier">
        <h3>Individual</h3>
      </div>
      <div class="tier">
        <h3>Team</h3>
      </div>
      <div class="tier">
        <h3>Company</h3>
      </div>
      <div class="tier">
        <h3>Enterprise</h3>
      </div>
    </div>

    <div class="pricing-row">
      <div class="label">
      </div>
      <div class="tier">
        <p class="price"><span class="value">$0</span><br/>per month</p>
        &nbsp;
      </div>
      <div class="tier">
        <p class="price"><span class="value">$99</span><br/>per month</p>
        &nbsp;
      </div>
      <div class="tier">
        <p class="price"><span class="value">$499</span><br/>per month</p>
        &nbsp;
      </div>
      <div class="tier">
        <p class="price"><span class="value">$2999</span><br/>per month</p>
        &nbsp;
      </div>
      <div class="tier">
        <p><a href="mailto:hello@appcanary.com?subject=Enterprise" target="_blank">Email us</a></p>
      </div>

    </div>

    <div class="pricing-row">
      <div class="label">
        <div>
          Agents
        </div>
      </div>

      <div class="tier">
        <div>1</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>5</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>50</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>500</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Unlimited</div>
        &nbsp;
      </div>
    </div>

    <div class="pricing-row">
      <div class="label">
        <div>
          Monitors
        </div>
      </div>

      <div class="tier">
        <div>1</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>5</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>50</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>500</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Unlimited</div>
        &nbsp;
      </div>
    </div>

    <div class="pricing-row">
      <div class="label">
        <div>
          API Calls
        </div>
      </div>

      <div class="tier">
        <div>10</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>10</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>500</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>5000</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Unlimited</div>
        &nbsp;
      </div>
    </div>

    <div class="pricing-row">
      <div class="label">
        <div>
          Users
        </div>
      </div>

      <div class="tier">
        <div>1</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>1</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>5</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Unlimited</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Unlimited</div>
        &nbsp;
      </div>
    </div>

    <div class="pricing-row">
      <div class="label">
        <div>
          Support
        </div>
      </div>

      <div class="tier">
        <div>Minimal</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Basic</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Basic</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Premium</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Enterprise-grade</div>
        &nbsp;
      </div>
    </div>

    <div class="pricing-row">
      <div class="label">
        <div>
          Deployment
        </div>
      </div>

      <div class="tier">
        <div>Cloud</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Cloud</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Cloud</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>Cloud</div>
        &nbsp;
      </div>
      <div class="tier">
        <div>On-Premise</div>
        &nbsp;
      </div>
    </div>
  </div>
</div>


<div class="unit-container unit-container_yellow">
  <div class="unit sign-up">
    <div class="riskfree">
      <h1>Get started with a risk-free 14 day trial.</h1>
    </div>
    <%= render :partial => "users/new_form" %>
  </div>
</div>

<a name="about"></a>
<div class="unit-container">
  <div class="unit how">
    <h2>About</h2>
    <div class="unit_illustration":>
      <!-- <h3>How it works</h3> -->
      <%= image_tag "canary-map.medium.png" %>
    </div>
    <div class="unit_exposition">
      <h3>How it works</h3>
      <p>
        We keep track of which versions of what packages are vulnerable to which security vulnerabilities, so you don't have to.</p>
      <p>
        We provide an <a href="https://github.com/appcanary/agent">open-source</a> agent and an API. We monitor the packages you have installed on your Linux system by hooking into the package manager (i.e. apt or yum). We also monitor the libraries used by your Ruby applications by monitoring their Gemfile.lock files.
        <!-- We provide an <a href="https://github.com/appcanary/agent">open&#45;source</a> agent and an API. Our agent monitors the packages you have installed on a Linux system by hooking into the package manager (apt or yum). It also monitors the libraries used by Ruby applications by monitoring Gemfile.lock files. -->
      </p>
      <p>
        <!-- We provide an <a href="https://github.com/appcanary/agent">open&#45;source</a> agent and an API. Our APIs support the same platforms as the agent. You can monitor a set of packages for vulnerabilities by uploading a file, either a Gemfile.lock for Ruby or <code>/var/lib/dpkg/status</code> for apt&#45;based systems, or the output of <code>rpm &#45;qa</code> for rpm&#45;based systems. -->
      </p>
      <p>
        You can upload files directly to our API endpoint, or through a web
        interface.
      </p>
      <h3>Platforms supported</h3>
      <div class="supported">
        <h4>System packages</h4>
        <ul>
          <li>Ubuntu - via apt</li>
          <li>Debian - via apt</li>
          <li>Centos 7 - via yum</li>
          <li>Amazon Linux - via yum</li>
        </ul>
      </div>
      <div class="supported">
        <h4>Application libraries</h4>
        <ul class="system">
          <li>Ruby - via Gemfile.lock</li>
          <li>More coming soon!</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<a name="team"></a>
<div class="unit-container">
    <div class="unit team">
      <h2>Team</h2>
      <div class="bio">
        <div class="unit_about phill">
          <div class="half">
            <a href="https://twitter.com/phillmv">
              <%= image_tag "phillmv.png" %>
              <h1>Phill MV</h1>
            </a>
          </div>
          <div class="half">
            <a href="https://twitter.com/mveytsman">
              <%= image_tag "mveytsman.png" %>
              <h1>Max Veytsman</h1>
            </a>
          </div>
          <div class="full">
            <p>In 2012, Phill and Max started a security and web development consultancy together. In 2013, they cofounded <a href="http://rubysec.com">Rubysec</a>, an open-source project that catalogues all Ruby-related software vulnerabilities. <br/><br/>In 2015, they shuttered the consultancy to begin working on Appcanary. That summer they participated in <a href="https://ycombinator.com" class="yc">Y Combinator</a>.</p>
          </div>
        </div>
      </div>
  </div>
</div>

<%= render :partial => "shared/footer" %>
