<section>
  <div class="timeline-box">
    <div class="timeline-wrapper">
      <div class="title">
        <section>
          <div class="name">
            <%= avatar(vuln.apps.first) %>
            <strong><%= link_to vuln.apps.first.name, app_path(1) %></strong>
          </div>

          <div class="name">
            <p>You ignored this vulnerability</p>
          </div>

          <div class="col-sm-4">
            <span class="timestamp pull-right">
              1 hour ago
            </span>
          </div>
        </section>
      </div>
      <div class="title">
        <section>
          <div class="name">
            <p>
              <% if vuln.ruby? %>
                <%= image_tag("icon-ruby.png", :class=> "icon") %>
                <strong>RubyGem:</strong> <%= vuln.artifact %>
            <% end %>
          </p>
        </div>

        <div class="version">
          <p><strong>Version:</strong> 0.3.7</p>
        </div>

        <div class="risk">
          <p><strong>Risk:</strong> <%= vuln.criticality %></p>
        </div>

        <div class="timeago">
          <span class="timestamp pull-right" title="<%= vuln.disclosed_at.iso8601 %>"><%= vuln.disclosed_at.iso8601 %></span>
        </div>
      </section>
    </div>

    <div class="resolution">
      <section>
        <div class="actions">
          <%= eui_button("Actually, this does affect me.") %>
          <%= eui_button("Stop showing me this.", :class => "pull-right") %>
        </div>
      </section>
    </div>
  </div>
</section>

