<%= form_for @user, url: billing_path, :method => :put, html: { id: "payment-form" } do |f| %>

  <% if @user.errors.any? %>
    <div class="error_explanation" role="alert">
      <h4>Oops. We encountered an error:</h4>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <p>You currently have <%= current_user.servers_count %> servers.</p>

    <label>Available plans:</label><br/>
    <% if current_user.discounted? %>
      <p>(We're giving you a 20% discount, because you're special)</p>
    <% end %>

    <%= f.select :subscription_plan, @billing_view.select_plans, { selected: @billing_view.selected_plan } %>
    <%# <%= f.select :subscription_plan, @billing_view.select_plans, { disabled: DeprecatedSubscriptionPlan.disabled_ac_plan(current_user.servers_count, current_user.discounted?) } %>
  </div>

  <span class="payment-errors alert alert-danger" style="display: none; width: 350px;"></span>
  <div class="card-wrapper" style="width: 350px; margin-bottom: 20px;"></div>

  <div class="form-group cc-number">
    <label>Card Number</label>
    <input type="text" class="text form-control" size="20" maxlength="20" name="number" data-stripe="number"/>
  </div>

  <div class="form-group cc-name">
    <label>Name (as appears on card)</label>
    <input type="text" class="text form-control" size="20" maxlength="255" name="name" data-stripe="name"/>
  </div>

  <div class="form-group" style="width: 350px">
    <div class="cc-mm col-sm-4" style="padding-left: 0px;">
      <label>
        Expiry
      </label>
      <br/>
      <input type="text" class="text form-control" size="7" maxlength="7" name="expiry"/ style="display: inline">
    </div>

    <div class="cc-cvc  col-sm-6" style="padding-left: 0px;">
      <label>
        CVC
      </label>
      <br/>
      <input type="text" class="text form-control" size="4" maxlength="4" name="cvc" data-stripe="cvc"/>
    </div>
  </div>

  <div class="form-group buttons col-sm-12" style="padding-left: 0px">
    <button type="submit" class="btn btn-default submit">Add Credit Card</button>
  </div>
<% end %>
