<div class="heading">
  <h3>Settings</h3>
</div>

<section>
  <div class="user_api">
    <h5>Your API token is:</h5>
    <code>
      <%= @user.agent_token %></code>
    <br/>
    <br/>
  </div>
</section>


<% if Rails.env == 'development' #unless @user.has_billing? %>
  <%= render :partial => "credit_card_form" %>
<% elsif false %>
  <section>
    <div class="col-sm-4">
      <h4>Credit card on file:</h4>
      <% @user.payment_info.each do |card| %>
        <dl>

          <dt>Last four digits:</dt>
          <dd><%= card.last4 %></dd>

          <dt>Expiry:</dt>
          <dd><%= card.exp_month %> / <%= card.exp_year %></dd>


        </dl>

      <% end %>
    </div>
  </section>
<% end %>

<section>
  <div class="col-sm-4">
    <%= form_for @user, url: settings_path, html: { class: 'basic settings' } do |f| %>
      <div class="field password">
        <%= f.label "New password" %>
        <%=f.password_field :password, :class => "text" %>
      </div>
      <div class="field">
        <%= f.label "Confirm new password" %>
        <%= f.password_field :password_confirmation, :class => "text" %>
      </div>
      <div class="field">
        <%=f.submit "Change Password", :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</section>
