<section>
  <div class="heading">
    <h3>Settings</h3>
  </div>
</section>

<section>
  <div class="user_api">
    <h4>Your API token is:</h4>
    <code>
      <%= @user.agent_token %></code>
    <br/>
    <br/>
  </div>
</section>

<section>
  <div class="col-sm-12">
    <h4>User settings:</h4>
  </div>

  <div class="col-sm-4">
    <%= form_for @user, url: settings_path do |f| %>

      <%= f.label :email %>
      <div class="form-group">
        <%=f.text_field :email, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=f.submit "Change email", :class => "btn btn-default" %>
      </div>

      <%= f.label :password %>

      <div class="form-group">
        <%=f.password_field :password, :class => "form-control", :placeholder => "New password" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm password" %>
      </div>
      <div class="form-group">
        <%=f.submit "Change password", :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</section>

<%= render :partial => "settings/subscription" %>
