<section>
  <div class="heading">
    <h3>Settings</h3>
  </div>
</section>

<section>
  <div class="user_api">
    <h5>Your API token is:</h5>
    <code>
      <%= @user.agent_token %></code>
    <br/>
    <br/>
  </div>
</section>

<% if false # not ready for public consumption yet %>
  <section>
    <% if Rails.env == 'development' #unless @user.has_billing? %>
      <%= render :partial => "credit_card_form" %>
    <% elsif false %>
      <div class="col-sm-4">
        <h4>Credit card on file:</h4>
        <% @user.payment_info.each do |card| %>
          <dl>

            <dt>Last four digits:</dt>
            <dd><%= card.last4 %></dd>

            <dt>Expiry:</dt>
            <dd><%= card.exp_month %> / <%= card.exp_year %></dd>


          </dl>

        <% end %>
      </div>
    <% end %>
  </section>
<% end %>

<section>
  <div class="col-sm-4">
    <%= form_for @user, url: settings_path do |f| %>

      <%= f.label :email %>
      <div class="form-group">
        <%=f.text_field :email, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%=f.submit "Change email", :class => "btn btn-default" %>
      </div>

      <%= f.label :password %>

      <div class="form-group">
        <%=f.password_field :password, :class => "form-control", :placeholder => "New password" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm password" %>
      </div>
      <div class="form-group">
        <%=f.submit "Change password", :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</section>
