<section id="newmonitors" style="padding-top: 10px;">
  <div class="fixed-side-menu">
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        <div style="margin-top: 20px;">
          <%= image_tag "canary-egg.medium.png", :style => "width: 150px" %>
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li><h2>Monitors</h2></li>
          <li><%= link_to 'Using the API', docs_path(:anchor => "create-monitor") %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-7">
    <section>
      <div class="form">

       <h2>Create a new monitor:</h2>
       <p>A monitor lets you register a set of packages for us to keep a watch on.</p>

       <p>You'll be able to see the vulnerabilities that affect you in the <%= link_to "dashboard", dashboard_path %>, and we will email you updates whenever any of the packages listed have a known vulnerability.</p>

        <div class="col-sm-6">
          <a name="righthere" class="anchor-offset"></a>
          <%= form_for @form, :url => monitors_path, :method => :post do |f| %>
            <% if @errors.present? %>
              <div class="error_explanation" role="alert">
                <h4>Oops. We encountered an error:</h4>

                <ul>
                  <% @errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.label :name %>
            <div class="form-group">
              <%= f.text_field :name, :class => "form-control" %>
            </div>

            <%= f.label :platform, "Platform & release" %>
            <div class="form-group">
              <%= f.select :platform_release_str, options_for_select(Platforms.select_platform_release), {}, :class => "form-control" %>
            </div>

            <%= f.label :file %>
            <div class="form-group">
              <%= f.file_field :file, :class => "form-control" %>
            </div>

            <%= f.submit "Create Monitor", :class => "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <h4>File type options</h4>
        <p>When selecting a platform, upload the corresponding file:</p>
        <dl class="sublist">
          <dt>ruby</dt>
          <dd>Your <code>Gemfile.lock</code></dd>

          <dt>ubuntu</dt>
          <dd><code>/var/lib/dpkg/status</code></dd>
          <dt>debian</dt>
          <dd><code>/var/lib/dpkg/status</code></dd>
          <dt>centos</dt>
          <dd>The output of: <code>rpm -qa</code></dd>
          <dt>amazon linux</dt>
          <dd>The output of: <code>rpm -qa</code></dd>

        </dl>

      </div>
    </section>

  </div>
</section>
