<section>
  <div class="heading">
    <h3>
      <span><%= link_to "dashboard", dashboard_path %> / monitors / <span class="name"><%= @bundlepres.display_name %></span></span>
    </h3>
  </div>
</section>


<section>
  <div class="server-info">
    <table class="table">
      <thead>
         <th>
          name
        </th>

        <th>
          type
        </th>
        <th>
          updated
        </th>
      </thead>
      <tbody>
        <tr>
          <td> 
            <%= @bundlepres.display_name %>
          </td>
          <td>
            <%= monitor_kind_label(@bundlepres) %>
          </td>
          <td>
            <%= "#{time_ago_in_words @bundlepres.updated_at} ago" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<%= render :partial => "bundles/show" %>
