<section>
  <div class="heading">
    <h3>
      <span><%= link_to "dashboard", dashboard_path %> / monitors / <span class="name"><%= @bundle.name %></span></span>
    </h3>
  </div>
</section>


<section>
  <div class="server-info">
    <table class="table">
      <thead>
         <th>
          name
        </th>

        <th>
          type
        </th>
        <th>
          created
        </th>
      </thead>
      <tbody>
        <tr>
          <td> 
            <%= @bundle.name %>
          </td>
          <td>
            <%= monitor_kind_label(@bundle) %>
          </td>
          <td>
            <%= "#{time_ago_in_words @bundle.created_at} ago" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


  <table class="table">
    <thead>
      event
    </thead>
    <thead>
      date
    </thead>
    <% @lbvs.each do |v| %>
      <tr>
        <td>
          vulnerable! 
          <%= v.package.display_name %>
        </td>
        <td>
          <%= v.created_at %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        created
      </td>
      <td>
        <%= @bundle.created_at %>
      </td>
    </tr>
  </table>



<div class="app">
  <ul class="nav nav-tabs">
    <li class="active" role="presentation">
      <a href="#vuln"  data-toggle="tab">
        <% if @vuln_packages.empty? %>
          <span class="fa fa-check-circle okay"></span>
        <% else %>
          <span class="fa fa-exclamation-triangle warn"></span>
          vulnerable packages
        <% end %>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="vuln" role="tabpanel" class="tab-pane active">
      <table id="vulnerable_artifacts" class="artifacts vulnerable">

        <% if @vuln_packages.empty? %>
          <tr>
            <td class="empty_message">No vulnerable packages found for this monitor!</td>
          </tr>
        <% else %>
          <% @vuln_packages.each do |pkg| %>
            <tr class="artifact">
              <td class="info">
                <div class="title data">
                  <%= pkg.name %>
                </div>
                <div class="version">
                  version
                  <span class="data"><%= pkg.version %></span>
                </div>
                <div class="kind">
                  kind:
                  <span class="data"><%= pkg.platform %></span>
                </div>
              </td>
              <td class="vulnerabilities">
                <ul>
                  <% pkg.vulnerable_dependencies.each do |vuln| %>
                    <li class="vulnerability">
                      <p><%= link_to vuln.vulnerability_title, vuln_path(vuln.vulnerability) %></p>

                      <% if vuln.patched_versions.present? %>
                        <% if pkg.upgrade_to.present? %>
                          <p class="upgrade_to"> Upgrade to <%= versions_in_english(pkg.upgrade_to) %></p>
                        <% else %>
                          <p class="upgrade_to"> No patches for your release exist right now. </p>
                        <% end %>
                        <% if false #vuln.remaining_versions.present? %>
                          <p class="remaining_versions">Other patched versions include: <%= versions_in_english(vuln.remaining_versions) %></p>
                        <% end %>
                      <% else %>
                        <p>No patches exist right now.</p>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    
  </div>
</div>

