<div class="app-sidepanel">
  <section>
    <div class="nav-identity">
      <p>
        <%= link_to "<b class='eui-trailing-icon fa fa-angle-double-left'></b> Dashboard".html_safe, dashboard_path, :class => "dashboard" %>
      </p>
      <h3><%= avatar(@app) %> <%= @app.name %></h3>
    </div>
  </section>
  <section>
    <div class="col-md-12">

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Production</a></li>
        <li role="presentation"><a href="#">Staging</a></li>
        <li role="presentation"><a href="#">Dev</a></li>
      </ul>

      <table class="table unstyled info">
        <tr>
          <td>
            <strong>Last Updated</strong>
          </td>
          <td>
            <span class="timestamp" title='<%= @app.last_synced_at.iso8601 %>'><%= @app.last_synced_at %></span>
          </td>
        </tr>


        <tr>
          <td>
            <strong>Platforms</strong>
          </td>
          <td class="platforms">
            <%= @app.platforms.join(", ") %>
          </td>
        </tr>

        
        <tr>
          <td>
            <strong>Rubygems</strong>
          </td>
          <td>
            <span>
              35-40
            </span>
            <i class="fa fa-angle-right pull-right"></i>
          </td>
        </tr>

      </table>

      <section class="issues-nav">
        <div class="all-issues">
          <h4 class="selected">All issues <span class="pull-right"><i class="fa fa-angle-right"></i></span></h4>
        </div>
      </section>

      <table class="table issues">
        <tr class="">
          <td>
            Active
          </td>
          <td>
            <span>2 <i class="fa fa-angle-right"></i></span>
            </td>
          </tr>

          <tr>
            <td>
              Resolved
            </td>
            <td>
              <span>56 <i class="fa fa-angle-right"></i></span>
              </td>
            </tr>

            <tr>
              <td>
                Ignored
              </td>
              <td>
                <span>3 <i class="fa fa-angle-right"></i></span>
                </td>
              </tr>
            </table>
          </div>
        </section>
      </div>
