= render :partial => "shared/heading"

.app

  .tabs.packages
    %a.tab.vulnerable.active(href="#vulnerable_artifacts")
      -if @vuln_artifacts.empty?
        %span.fa.fa-check-circle.okay
      - else
        %span.fa.fa-exclamation-triangle.warn
      vulnerable packages
    %a.tab.all(href="#all_artifacts")
      all packages
  %table#vulnerable_artifacts.artifacts.vulnerable
    - if @vuln_artifacts.empty?
      %tr
        %td.empty_message No vulnerable packages found for this app!
    - else
      -@vuln_artifacts.each do |artifact|
        %tr.artifact
          %td.info
            .title.data
              = artifact.name
            .version
              version
              %span.data 2.0.1
            .kind
              kind:
              %span.data rubygem
          %td.vulnerabilities
            %ul
              - artifact.vulnerabilities.each do |vuln|
                %li.vulnerability
                  =link_to vuln.title, '#'

  %table#all_artifacts.artifacts.all(style="display:none")
    - if @artifacts.empty?
      %tr
        %td.empty_message No packages found for this app!
    - else
      %tr
        %th name
        %th kind
        %th version
      -@artifacts.each do |artifact|
        %tr.artifact
          %td.name=artifact.name
          %td.kind rubygem
          %td.version
            ="#{rand(0..5)}.#{rand(0..3)}.#{rand(0..21)}"

:coffeescript
  $('.tabs .tab').click (e) ->
    e.preventDefault();
    $('table.artifacts').hide()
    $($(this).attr('href')).show()
    $('.tabs .tab').removeClass('active')
    $(this).addClass('active')
