<%= render :partial => "shared/heading" %>

<div class="app">
  <ul class="nav nav-tabs">
    <li class="active" role="presentation">
      <a href="#vuln"  data-toggle="tab">
        <% if @bundle.vuln_packages.empty? %>
          <span class="fa fa-check-circle okay"></span>
        <% else %>
          <span class="fa fa-exclamation-triangle warn"></span>
          vulnerable packages
        <% end %>
      </a>
    </li>
    <li role="presentation">
      <a href="#allpackages" data-toggle="tab">
        all packages
      </a>
    </li>
    <%= link_to "Export to CSV", server_path(@server, format: "csv"), class: "btn btn-default" %>
  </ul>

  <div class="tab-content">
    <div id="vuln" role="tabpanel" class="tab-pane active">
      <table id="vulnerable_packages" class="artifacts vulnerable">

        <% if @bundle.vuln_packages.empty? %>
          <tr>
            <td class="empty_message">No vulnerable packages found for this app!</td>
          </tr>
        <% else %>
          <% @bundle.vuln_packages.each do |package| %>
            <tr class="package">
              <td class="info">
                <div class="title data">
                  <%= package.name %>
                </div>
                <div class="version">
                  version
                  <span class="data"><%= package.version %></span>
                </div>
                <div class="kind">
                  kind:
                  <span class="data"><%= package.platform %></span>
                </div>
              </td>
              <td class="vulnerabilities">
                <ul>
                  <% package.vulnerable_dependencies.each do |vuln| %>
                    <li class="vulnerability">
                      <p><%= link_to vuln.vulnerability_title, vuln_path(vuln.vulnerability) %></p>

                      <% if vuln.patched_versions.present? %>
                        <% if package.upgrade_to.present? %>
                          <p class="upgrade_to"> Upgrade to <%= versions_in_english(package.upgrade_to) %></p>
                        <% else %>
                          <p class="upgrade_to"> No patches for your release exist right now. </p>
                        <% end %>
                        <% if false # vuln.remaining_versions.present? %>
                          <p class="remaining_versions">Other patched versions include: <%= versions_in_english(vuln.remaining_versions) %></p>
                        <% end %>
                      <% else %>
                        <p>No patches exist right now.</p>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div id="allpackages" role="tabpanel" class="tab-pane">
      <table id="all_packages" class="artifacts all">
        <% if @packages.empty? %>
          <tr>
            <td class="empty_message">
              No packages found for this app!
            </td>
          </tr>
        <% else %>
          <tr>
            <th>name</th>
            <th>source name</th>
            <th>kind</th>
            <th>version</th>
          </tr>
          <% @packages.each do |package| %>
            <tr class="package">
              <td class="name"><%= package.name %></td>
              <td class="name"><%= package.source_name %></td>
              <td class="kind"><%= package.platform %></td>
              <td class="version"><code><%= package.version %></code></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
