<div class="tab-content">
  <div id="vuln" role="tabpanel" class="tab-pane active">
    <table id="vulnerable_packages" class="">

      <% if @vuln_packages.empty? %>
        <tr>
          <td class="empty_message">No vulnerable packages found for this app!</td>
        </tr>
      <% else %>

        <% @patched.each do |package| %>

        <% end %>


        <% @vuln_packages.each do |package| %>
          <tr class="package">
            <td class="info">
              <div class="title data">
                <%= package.name %>
              </div>
              <div class="version">
                version
                <span class="data"><%= package.version %></span>
              </div>
              <div class="kind">
                kind:
                <span class="data"><%= package.platform %></span>
              </div>
            </td>
            <td class="vulnerabilities">
              <ul>
                <% package.vulnerable_dependencies.each do |vuln| %>
                  <li class="vulnerability">
                    <p><%= link_to vuln.vulnerability_title, vuln_path(vuln.vulnerability) %></p>

                    <% if vuln.patched_versions.present? %>
                      <% if package.upgrade_to.present? %>
                        <p class="upgrade_to"> Upgrade to <%= versions_in_english(package.upgrade_to) %></p>
                      <% else %>
                        <p class="upgrade_to"> No patches for your release exist right now. </p>
                      <% end %>
                      <% if false # vuln.remaining_versions.present? %>
                        <p class="remaining_versions">Other patched versions include: <%= versions_in_english(vuln.remaining_versions) %></p>
                      <% end %>
                    <% else %>
                      <p>No patches exist right now.</p>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>

      <% end %>
    </table>
  </div>

</div>
