<div class="modal fade" id="modal-<%=dom_id(package)%>-ignore" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Mark package as ignored</h4>
      </div>
      <%= form_for IgnoredPackage.new, url: ignore_vuln_monitors_path(package.id), method: :post do |f| %>
        <%= f.hidden_field :package_id, value: package.id %>
        <%= f.hidden_field :bundle_id, value: bundle.id %>
        <div class="modal-body">

          <table class="table">
            <thead>
              <th>
                package
              </th>
              <th>
                version
              </th>
            </thead>
            <tr>
              <td>
                <span class="fixed-width"><%= package.name %></span>
              </td>
              <td>
                <code><%= package.version %></code>
              </td>
            </tr>
          </table>

          <p>
            By marking this package as ignored, you will no longer receive
            notifications that concern this package version and any
            vulnerabilities that affect this package.
          </p>
          <p>
            <strong>You can undo this action.</strong>
          </p>


          <div class="form-group">
            <%= f.label :note, "Note:" %>
            <%= f.text_area :note, :class => "form-control", :placeholder => "An optional, short explanatory message, i.e. 'fixed in configuration' or 'not exploitable'." %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group pull-left">
            <%= check_box_tag "ignored_package[:global]", "yes", false, {} %>
            <%= label_tag "Ignore globally" %>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Mark as ignored", class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
