<div id="onboarding">
  <section class="intro">
    <div class="header">
      <div class="title">
        <h1>Welcome!</h1>
      </div>
      <div class="preamble">
        <h5>Let's get you started! How it works:</h5>
        <ol>
          <li>Tell us what packages you use.</li>
          <li>We notify you via email whenever you're vulnerable.</li>
          <li>Keep your servers and your customers safe.</li>
        </ol>

      </div>

      <div class="preamble">
        <table class="table">
          <thead>
            <th>Supported platforms:</th>
          </thead>
          <tr>
            <td>
              <span class="platform-logo"><%= image_tag "icon-ruby.png", :style => "width: 13px" %> Ruby</span>,
              <span class="platform-logo"><%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu</span>,
              <span class="platform-logo"><%= image_tag "icon-debian.png", :style => "width: 13px"%> Debian </span>,
              <span class="platform-logo"><%= image_tag "icon-centos.png", :style => "width: 13px"%> CentOS 7</span>
              <span class="platform-logo">(more soon, stay tuned!)</span>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </section>

  <hr/>

  <section class="options">
    <div class="title">
      <h2>There are three ways to use Appcanary:</h2>
    </div>

    <div class="agent">
      <div class="header">
        <a href="<%= new_server_path %>">
          <%= image_tag "canary-nest.medium.stroke.png" %>
          <h2>Agent</h2>
        </a>
      </div>
      <p>Our tiny, open-source, agent sits on your servers and auto-updates whenever you deploy. Perfect for passively monitoring your servers.</p>
      <p>Available for: <span class="platform-logo"><%= image_tag "icon-ubuntu.png", :style => "width: 13px"%> Ubuntu</span>, <span class="platform-logo"><%= image_tag "icon-debian.png", :style => "width: 13px"%> Debian</span>, <span class="platform-logo"><%= image_tag "icon-redhat.png", :style => "width: 13px"%> Redhat</span>, <span class="platform-logo"><%= image_tag "icon-centos.png", :style => "width: 13px"%> CentOS,</span> Amazon and Linux Mint.</p>

      <%= link_to "Install it", new_server_path, :class => "btn btn-default" %>
    </div>

    <div class="monitor">
      <div class="header">
        <a href="<%= docs_path %>">
          <%= image_tag "canary-worm.medium.stroke.png" %>
          <h2>Monitor API</h2>
        </a>
      </div>
      <p>Register your server and application dependencies. Whenever something becomes vulnerable in the future, we'll let you know.</p>
      <p>Works great with containerized deployments and immutable infrastructure!</p>

      <%= link_to "Read the docs", docs_path, :class => "btn btn-default" %>
    </div>

    <div class="check">
      <div class="header">
        <a href="<%= docs_path %>">
          <%= image_tag "canary-map.medium.stroke.png" %>
          <h2>Check API</h2>
        </a>
      </div>

      <p>Perform a programmatic one-time check of your packages. Never accept a pull request, or deploy a new app or server, with vulnerable code ever again.</p>
      <p>Designed for use with test suites, and continuous integration and deployment.</p> 
      <%= link_to "Read the docs", docs_path, :class => "btn btn-default" %>
    </div>
  </section>
</div>
