<div id="onboarding">
  <section>

    <div class="col-sm-6 col-sm-offset-1">
      <h1>Welcome!</h1>
      <p>Appcanary notifies you whenever you're using unsafe software.</p>
      <p>We keep you from getting hacked, by letting you know what to update. We're also great for auditing your software.</p>
      <p>We keep track of known security vulnerabilities in open source software, so you don't have to.</p>

      <strong>Let's get you started. This will take five minutes!</strong>
      <hr>

      <h3>Do you run your own servers? <%= link_to "Try our agent.", new_server_path %></h3>
      <p>Installing our agent is the easiest and most reliable way to use Appcanary.</p><p>If an employee installs some software on one of your servers without going through change management, we'll always detect it. <%= link_to "Click here to begin", new_server_path %>.</p>
      <br/>

      <h3>Are your apps deployed with Docker or on Heroku? <%= link_to "Add a monitor.", new_monitor_path %></h3>
      <p>Monitors let you keep track of your software dependencies, and get notified when you become vulnerable. <%= link_to "Try it out now", new_monitor_path %>.</p>
      <br/>

      <h3>Does your team rely on continuous integration? <%= link_to "Add us to your tests", ci_docs_path %>.</h3>
      <p>By adding Appcanary to your CI, you can be sure to never deploy unsafe software. <%= link_to "Find out more here", ci_docs_path %>.</p>
      <br/>

      <h3>Do you need an API? <%= link_to "We got you covered", api_docs_path %>!</h3>
      <p>Integrate Appcanary with your ticketing or other monitoring systems. It's easy! <%= link_to "Check out our docs", api_docs_path %>.</p>
      <hr>
      <br/>

      <h4>Would you like help? Do you need support?</h4>
      <%= eui_button "Contact us", href: "mailto:hello@appcanary.com?subject=\"Problem with bash\"", :class => "eui-button-medium-primary feedback-problem", :target => "_blank"%>
    </div>

    <div class="col-sm-5">
      <%= image_tag "canary-nest.medium.square.png", style:"max-width: 100%" %>
      <div class="preamble">
        <table class="table">
          <thead>
            <th>We support the following platforms:</th>
          </thead>
          <tr>
            <td>
              <span class="platform-logo"><%= image_tag "icon-ruby.png", :style => "width: 16px" %> Ruby</span>,
              <span class="platform-logo"><%= image_tag "icon-php.png", :style => "width: 16px" %> PHP</span>,
              <span class="platform-logo"><%= image_tag "icon-ubuntu.png", :style => "width: 16px"%> Ubuntu</span>,
              <span class="platform-logo"><%= image_tag "icon-debian.png", :style => "width: 16px"%> Debian </span>,
              <span class="platform-logo"><%= image_tag "icon-centos.png", :style => "width: 16px"%> CentOS</span>,
              <span class="platform-logo"><%= image_tag "icon-amzn.png", :style => "width: 16px"%> Amazon Linux</span>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </section>
</div>
