<table class="table">
  <thead>
    <% if current_user.is_admin? %>
      <th>
        account
      </th>
    <% end %>
    <th>
      type
    </th>

    <th>
      # logs
    </th>

    <th>
      # vulns
    </th>

    <th>
      sent at
    </th>

    <th>
      created at
    </th>

  </thead>
  <% emails.each do |email| %>
    <% vuln_count = email.logs.group(:vulnerability_id).count.keys.count %>
    <tr>
      <% if current_user.is_admin? %>
        <td>
          <%= email.account.email %>
        </td>
      <% end %>


      <td>
        <%= link_to "#{email.class} - #{email.sent_at}", admin_email_path(email.id) %>
      </td>

      <td>
        <%= email.notifications.count %>
      </td>

      <td>
        <%= vuln_count %>
      </td>


      <td>
        <%= email.sent_at %>
      </td>


      <td>
        <%= email.created_at %>
      </td>
    </tr>
  <% end %>
</table>
