%section
  .col-sm-6
    %h1
      All the users.
%section
  .col-sm-8
    %table.table
      %thead
        %th
          Users
        %th
          Server Count
        %th
          Recent Heartbeats
      %tbody
        %tr
          %td
            = @user_count
          %td
            = @servers_count
          %td
            = @recent_heartbeats

%section
  .col-sm-8
    = link_to "New user", new_admin_user_path, :class => "btn btn-default"
    %table.table
      %thead
        %th
          email
        %th
          source
        %th
          created at
        %th
          servers
        %th
          beating?
        %th
          last login at
        %th
        %th
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.email
            %td
              = user.beta_signup_source
            %td
              = user.created_at.strftime("%y/%m/%d %H:%M")
            %td
              = @api_users[user.datomic_id]["server-count"]
            %td
              = @api_users[user.datomic_id]["active-server-count"]
            %td
              = user.last_login_at.try(:strftime, "%y/%m/%d %H:%M")
            %td
              = link_to "edit", [:admin, user]
            %td
              - if user != current_user
                = link_to "impersonate", impersonate_admin_user_path(user), :method => :post
              - else
                (that's you!)
