<script>
$( document ).ready(function() {
  $('#users').DataTable( {
    "paging":   false,
  });
});
</script>
<section>
  <div class="col-sm-6">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#">Users</a></li>
      <li role="presentation"><%= link_to "Subscription Plans", admin_subscription_plans_path %></li>
    </ul>
    <h1>
      All the users.
    </h1>
  </div>
</section>

<section>
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <th>
          Users
        </th>
        <th>
          Server Count
        </th>
        <th>
          Recent Heartbeats
        </th>
        <th>
          Monthly revenue
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @user_count %>
          </td>
          <td>
            <%= @servers_count %>
          </td>
          <td>
            <%= @recent_heartbeats %>
          </td>
          <td>
            <%= number_to_currency(@total_revenue.to_f / 100) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section>
  <div class="col-sm-12">
    <%= link_to "New user", new_admin_user_path, :class => "btn btn-default" %>
    <table class="table" id="users">
      <thead>
        <th>
          email
        </th>
        <th>
          source
        </th>
        <th>
          created at
        </th>
        <th>
          servers
        </th>
        <th>
          beating?
        </th>
        <th>
          checks
        </th>
        <th>
          monitors
        </th>
        <th>
          paying?
        </th>
        <th>
          revenue
        </th>
        <th>
          last login at
        </th>
        <th>
        </th>
        <th>
        </th>
      </thead>
      <tbody>
        <%- @users.each do |user| %>
          <tr>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= user.beta_signup_source %>
            </td>

            <td>
              <%= user.created_at.strftime("%y/%m/%d %H:%M") %>
            </td>

            <td>
              <%= user.agent_servers.size %>
            </td>

            <td>
              <%= user.active_servers_count %>
            </td>

            <td>
              <%= user.api_calls_count %>
            </td>

            <td>
              <%= user.monitors_count %>
            </td>

            <td>
              <%= user.has_billing? %>
            </td>

            <td>
              <%= number_to_currency((user.billing_plan.try(:monthly_cost) || 0).to_f / 100) %>
              <%# <%= BillingManager.new(user).to_presenter.monthly_cost_in_dollars %>
            </td>

            <td>
              <%= user.last_login_at.try(:strftime, "%y/%m/%d %H:%M") %>
            </td>

            <td>
              <%= link_to "edit", [:admin, user] %>
            </td>

            <td>
              <% if user != current_user %>
                <%= link_to "impersonate", impersonate_admin_user_path(user), :method => :post %>
              <% else %>
                (that's you!)
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
