<script>
 $( document ).ready(function() {
   $('#vulns_data').DataTable( {
     "paging":   true,
     "processing": true,
     "serverSide": true,
     "ajax": "",
    // "dom":"<'row'<'col-sm-6'f><'col-sm-6'l>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
     "columns": [
       { data: "platform" },
       { data: "criticality" },
       { data: "cvss" },
       { data: "title" },
       { data: "cves",
         orderable: false },
       { data: "packages",
         orderable: false },
       { data: "reported_at"},
       
     ],
     "order": [[ 6, "desc" ]]
   });
 });
</script>

<section>
  <div class="col-sm-8">
    <h1><%= Platforms.full_name(@platform) || "All" %> Vulnerabilities </h1>

    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="<%= @platform.nil? ? "active" : "" %>">
        <%= link_to "All", vulns_path(search: params[:search]) %>
      </li>
      <% Platforms.all_platforms.each do |platform| %>
        <li role="presentation" class="<%= @platform == platform ? "active" : "" %>">
          <%= link_to Platforms.full_name(platform), platform_vulns_path(platform: platform, search: params[:search]) %>
        </li>
      <% end %>

    </ul>
</section>

<table class="table table-striped" id="vulns_data">
  <thead>
    <th>
      platform
    </th>

    <th>
      criticality
    </th>

    <th>
      cvss
    </th>

    <th class="col-sm-4">
      title
    </th>

    <th>
      cves
    </th>

    <th>
      packages
    </th>

    <th>
      reported at
    </th>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <th>
      platform
    </th>

    <th>
      criticality
    </th>

    <th>
      cvss
    </th>

    <th>
      title
    </th>

    <th>
      cves
    </th>

    <th>
      packages
    </th>

    <th>
      reported at
    </th>
  </tfoot>
</table>
