- if current_user 
  = render :partial => 'shared/heading'
- else
  .topbar
  %section
    .col-sm-6
      %h1 More information:
%section
  .col-sm-12
    %dl.vulnerability
      - if @vuln.artifact
        - if @vuln.artifact.count > 1
          %dt Packages:
        - else
          %dt Package:
        %dd= @vuln.artifact.map(&:name).join(", ")

      %dt Kind:
      %dd= @vuln.kind_pretty

      %dt Title:
      %dd.title= @vuln.title

      - if @vuln.cve_id.present?
        %dt CVE:
        %dd= link_to(@vuln.cve_id, @vuln.cve_url, target: 'blank')

      - if @vuln.osvdb.present?
        %dt OSVDB:
        %dd= link_to(@vuln.osvdb_id, @vuln.osvdb_url, target: "blank")

      %dt Description:
      %dd
        - @vuln.description.each_line do |str|
          = str
          <br/>

      - if @vuln.criticality_name
        %dt Criticality:
        %dd= @vuln.criticality_name

      %dt Patched Versions:
      %dd
        - if @vuln.patched_versions.present?
          %pre{style: "border: none;"}
            - @vuln.patched_versions.each do |vers|
              = vers
              <br/>
        - else
          No patches exist right now

