<section>
  <div class="col-sm-12">
    <% if @vuln.archive? %>
      <h1><span style="color: grey;">[archived]</span> <%= @vuln.title %></h1>
    <% else %>
      <h1><%= @vuln.title %></h1>
    <% end %>
  </div>
</section>
<section>
  <div class="col-sm-4">
    <h3>Metadata</h3>
    <table class="table">
      <tr>
        <td><label>Platform</label></td>
        <td>
          <%= platform_icon(@vuln.platform) %>
        </td>
      </tr>

       <tr>
        <td><label>Criticality</label></td>
        <td><%= @vuln.criticality %></td>
      </tr>

      <tr>
        <td><label>Package(s)</label></td>
        <td><%= @vuln.dependency_names %></td>
      </tr>

      <tr>
        <td><label>CVE(s)</label></td>
        <td><%= @vuln.cve_links.join(", ").html_safe %></td>
      </tr>


      <tr>
        <td><label>See also:</label></td>
        <td><%= @vuln.related_links %></td>
      </tr>


      <tr>
        <td><label>Reported at</label></td>
        <td><%= @vuln.reported_at.try(:strftime, "%Y-%m-%d") %></td>
      </tr>

      <tr>
        <td><label>Updated at</label></td>
        <td><%= @vuln.updated_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
      </tr>

      <% if @vuln.archive? %>
        
        <tr>
          <td><label>Current version</label></td>
          <td><%= link_to @vuln.current.updated_at.try(:strftime, "%Y-%m-%d %H:%M"), vuln_path(@vuln.current.id) %></td>
        </tr>

      <% end %>

      <% if @vuln.archives.any? %>
        <tr>
          <td><label>Archives</label></td>
          <td>
            <% @vuln.archives.each do |va| %>
              <%= link_to va.created_at.strftime("%Y-%m-%d %H:%M"), vuln_archive_path(@vuln.id, va.id) %>
            <% end %>
          </td>
        </tr>
      <% end %>
        

    </table>
  </div>


  <div class="col-sm-8">
    <h3>Description</h3>
    <p><%= @vuln.description %></p>
    <hr>
    <h4>Constraints:</h4>
    <table class="table">
      <thead>
        <th>
          Release
        </th>
        <th>
          Package
        </th>
        <th>
          Patched in:
        </th>
        <th>
          Unaffected in:
        </th>
        <th>
          Pending?
        </th>
        <th>
          Eolifed
        </th>
      </thead>
      <% @vuln.vulnerable_dependencies.each do |vd| %>
        <tr>
          <td>
            <%= vd.release || "N/A" %>
          </td>

          <td>
            <%= vd.package_name %>
          </td>

          <td>
            <code>
              <%= vd.patched_versions.join(",") %>
            </code>
          </td>

          <td>
            <code>
              <%= vd.unaffected_versions.join(",") %>
            </code>
          </td>

          <td>
            <%= vd.pending %>
          </td>

          <td>
            <%= vd.end_of_life %>
          </td>

        </tr>
      <% end %>
    </table>

    <% if current_user %>
      <% if @bundles.any? %>
        <h4>The following items of yours are affected:</h4>
        <table class="table">
          <thead>
            <th>
              item
            </th>
            <th>
              package
            </th>
            <th>
              upgrade to
            </th>
          </thead>
          <tbody>
            <% @bundles.each_pair do |bundle, bps| %>
              <% bps.each do |bpkg| %>
                <tr>
                  <td>
                    <%= link_to_bundle bundle %>
                  </td>
                  <td>
                    <%= bpkg.package.name %>
                  </td>
                  <td>
                    <code><%= bpkg.package.upgrade_to.first %></code>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% elsif !@vuln.archive? %>
        <br/>
        <h4>You are not currently affected by this vulnerability.</h4>
      <% end %>
    <% end %>

    <% if current_user && current_user.is_admin? %>
      <h3>(Admin only)</h3>
      <h4>Packages we've seen:</h4>
      <table class="table">
        <th>Release</th>
        <th>Name</th>
        <th>Source package</th>
        <th>Version</th>
        <% @vuln.packages.order(:release).each do |p| %>
          <tr>
            <td>
              <%= p.release %>
            </td>

            <td>
              <%= p.name %>
            </td>

             <td>
              <%= p.source_name %>
            </td>


            <td>
              <%= p.version %>
            </td>

          </tr>
        <% end %>
      </table>

    <% end %>
  </div>


</section>
