<section>
  <div class="col-sm-12">
    <h1><%= @vuln.canary_id %> &mdash; <%= @vuln.title %></h1>
  </div>
</section>
<section>
  <div class="col-sm-4">
    <h3>Metadata</h3>
    <table class="table">
      <tr>
        <td><label>Platform</label></td>
        <td>
          <span class="platform-logo"><%= image_tag "icon-ruby.png", :style => "width: 13px" %> Ruby</span>
        </td>
      </tr>

       <tr>
        <td><label>Criticality</label></td>
        <td><%= @vuln.criticality %></td>
      </tr>

      <tr>
        <td><label>Package(s)</label></td>
        <td><%= @vuln.dependency_names %></td>
      </tr>

      <tr>
        <td><label>CVE(s)</label></td>
        <td><%= @vuln.cve_links.join(", ").html_safe %></td>
      </tr>


      <tr>
        <td><label>See also:</label></td>
        <td><%= @vuln.related_links %></td>
      </tr>


      <tr>
        <td><label>Report date</label></td>
        <td><%= @vuln.reported_at.try(:strftime, "%Y-%m-%d") %></td>
      </tr>


    </table>
  </div>


  <div class="col-sm-8">
    <h3>Description</h3>
    <p><%= @vuln.description %></p>
    <hr>
    <h4>Constraints:</h4>
    <table class="table">
      <thead>
        <th>
          Release
        </th>
        <th>
          Package
        </th>
        <th>
          Patched in:
        </th>
        <th>
          Unaffected in:
        </th>
        <th>
          Pending?
        </th>
        <th>
          Eolifed
        </th>
      </thead>
      <% @vuln.vulnerable_dependencies.each do |vd| %>
        <tr>
          <td>
            <%= vd.release || "N/A" %>
          </td>

          <td>
            <%= vd.package_name %>
          </td>

          <td>
            <code>
              <%= vd.patched_versions.join(",") %>
            </code>
          </td>

          <td>
            <code>
              <%= vd.unaffected_versions.join(",") %>
            </code>
          </td>

          <td>
            <%= vd.pending %>
          </td>

          <td>
            <%= vd.end_of_life %>
          </td>

        </tr>
      <% end %>
    </table>

    <% if current_user && current_user.is_admin? %>
      <h4>Packages we've seen:</h4>
      <table class="table">
        <th>Release</th>
        <th>Name</th>
        <th>Source package</th>
        <th>Version</th>
        <% @vuln.packages.order(:release).each do |p| %>
          <tr>
            <td>
              <%= p.release %>
            </td>

            <td>
              <%= p.name %>
            </td>

             <td>
              <%= p.source_name %>
            </td>


            <td>
              <%= p.version %>
            </td>

          </tr>
        <% end %>
      </table>

    <% end %>
  </div>


</section>
