<% if current_user  %>
  <%= render :partial => 'shared/heading' %>
<% else %>
  <div class="topbar">
    <section>
      <div class="col-sm-12">
        <h1><%= @vuln.title %></h1>
      </div>
    </section>
  </div>
<% end %>
<section>
  <div class="col-sm-12">
    <dl class="vulnerability">
      <% if @vuln.vulnerable_dependencies.count > 1 %>
        <dt>Packages:</dt>
      <% else %>
        <dt>Package:</dt>
      <% end %>

      <dd><%= @vuln.vulnerable_dependencies.map(&:package_name).join(", ") %></dd>

      <dt>Kind:</dt>
      <dd><%= @vuln.platform %></dd>

      <dt>Title:</dt>
      <dd class="title"><%= @vuln.title %></dd>

      <% if @vuln.reference_ids.present? %>
        <dt>CVE(s):</dt>
        <dd>
          <% @vuln.reference_ids.each do |cve| %>
            <% if cve =~ /CVE/ %>
              <%= link_to(cve, "https://web.nvd.nist.gov/view/vuln/detail?vulnId=#{cve}", target: 'blank') %>
            <% end %>
          <% end %>
        </dd>
      <% end %>

      <dt>Description:</dt>
      <dd>
        <% @vuln.description.try :each_line do |str| %>
          <%= str.html_safe %>
          <br/>
        <% end %>
      </dd>

      <% if @vuln.criticality %>
        <dt>Criticality:</dt>
        <dd><%= @vuln.criticality %></dd>
      <% end %>

      <dt>Patched Versions:</dt>
      <dd>
        <% @vuln.vulnerable_dependencies.each do |vd| %>
          <% if vd.patched_versions.present? %>
            <pre style="border: none;">
<%= vd.package_name %>
              <%- vd.patched_versions.each do |vers| %>
<%= vers %>
                <br/>
              <%- end %>
            </pre>
          <% else %>
            No patches exist right now
          <% end %>
        <% end %>
      </dd>

      <dt>Unaffected Versions:</dt>
      <dd>
       <% @vuln.vulnerable_dependencies.each do |vd| %>
          <% if vd.unaffected_versions.present? %>
            <pre style="border: none;">
<%= vd.package_name %>
              <%- vd.unaffected_versions.each do |vers| %>
  <%= vers %>
<br/>
              <%- end %>
            </pre>
          <% else %>
            No unaffected versions were reported.
          <% end %>
        <% end %>
      </dd>
    </dl>
  </div>
</section>
