<div class="sign-up_form-group">
  <%= form_for @user, :url => user_sessions_path, :class => "full-sign-up" do |f| %>
    <% if @user.errors.present? %>
      <h2>Sorry! <%= @user.errors.full_messages.join(". ")%></h2>
    <% end %>
    <div class="form-fields">
      <%= label_with_error(f, @user, :email) %>
      <%= f.email_field :email, :placeholder => "jane@example.com" %>

      <%= label_with_error(f, @user, :password) %>
      <%= f.password_field :password, :placeholder => "A secret between us" %>
    </div>

    <%= hidden_field_tag :password_reset %>
    <a class="button" id="forgot-password">Forgot password</a>
    <button type="submit">Log in</button>
  <% end %>
</div>
