<div class="sign-up_form-group">
  <%= form_for @user, :url => user_sessions_path, :class => "full-sign-up" do |f| %>
    <div class="form-fields">
      <%= label_with_error(f, @user, :email) %>
      <%= f.email_field :email, :placeholder => "jane@example.com" %>

      <%= label_with_error(f, @user, :password) %>
      <%= f.password_field :password, :placeholder => "A secret between us" %>

      <button type="submit">Log in</button>

    </div>
  <% end %>
</div>
