<div class="topbar"></div>

<%= render :partial => "shared/top_menu" %>

<div class="hero-wrapper">
  <div class="sign-up-page">
    <div class="sign-up">
      <div class="riskfree" style="text-align: center;">

        <% if flash.present? %>
          <h1 style="padding-bottom: 20px"><%= flash.to_hash.values.join(" ").html_safe %></h1>
        <% else %>
          <h1 style="padding-bottom: 20px">Nice to see you again.</h1>
        <% end %>
        <%= image_tag "canary-worm.medium.png", :style => "width: 65%" %>
      </div>
      <%= render :partial => "form" %>
    </div>
  </div>
</div>
<%= render :partial => "shared/footer" %>
