<div class="topbar"></div>
<div class="top-left-brand">
  <a href="https://appcanary.com">
    <%= image_tag "appcanary-hero.png", :alt => "Appcanary" %>
  </a>
</div>


<div class="action">
  <div class="action_unit action_login">
    <%= link_to "Log in", login_path, :class => "button" %>
  </div>
</div>

<div class="hero-wrapper">
  <div class="sign-up-page">
    <div class="sign-up">
      <div class="riskfree" style="text-align: center;">
        <h1 style="padding-bottom: 20px">Nice to see you again.</h1>
        <%= image_tag "canary-worm.medium.png", :style => "width: 65%" %>
      </div>
      <%= render :partial => "form" %>
    </div>
  </div>
</div>
<%= render :partial => "shared/footer" %>
