<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>appCanary</title>

    <%= render :partial => "layouts/typekit" %> 
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
   
    <%= csrf_meta_tags %>

    <%= render :partial => "layouts/analytics" %> 
    <%= render :partial => "layouts/stripe" %>

  </head>
  <body>
    
    <% if current_user && !@hide_sidebar %>
      <div>
        <div class="navigation">
          <%= render :partial => "layouts/navbar" %>
        </div>
        <div id="main" class="main-drawer container">
          <% if flash_messages %>
            <section style>
              <div class="flashes">
                <%= flash_messages %>
              </div>
            </section>
          <% end %>
          <%= yield %>
        </div>

      </div>
    <% else %>
      <div id="main" class="container">
        <% unless @skip_flash %>
          <section>
            <div>
              <%= flash_messages %>
            </div>
          </section>
        <%end %>
      <%= yield %>
      </div>
    <% end %>    
  </body>
</html>
