<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>appCanary</title>

    <%= render :partial => "layouts/typekit" %> 
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <% if Rails.env == "production" %>
    <% end %>
      <script type="text/javascript">
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
                                                                                                                                                                                                                                                                                                                                                                                  analytics.load("4d4VwYpHGbxQI5vUiRzOwVsV3yw7PTxs");
                                                                                                                                                                                                                                                                                                                                                                                  analytics.page()
}}();
                                                                                                                                                                                                                                                                                                                                                                               </script>

      <script>
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;
s.src='https://widget.intercom.io/widget/{app_id}';
        var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
      </script>
    <%= csrf_meta_tags %>

    <%= render :partial => "layouts/google_analytics" %> 
    <%= render :partial => "layouts/stripe" %> 

  </head>
  <body>
    
    <% if current_user && !@hide_sidebar %>
      <div>
        <div class="navigation">
          <%= render :partial => "layouts/navbar" %>
        </div>
        <div id="main" class="main-drawer container">
          <% if flash_messages %>
            <section style>
              <div class="flashes">
                <%= flash_messages %>
              </div>
            </section>
          <% end %>
          <%= yield %>
        </div>

      </div>
    <% else %>
      <div id="main" class="container">
        <% unless @skip_flash %>
          <section>
            <div>
              <%= flash_messages %>
            </div>
          </section>
        <%end %>
      <%= yield %>
      </div>
    <% end %>

    <% if current_user %>
    <script>
      analytics.identify('<%= true_user.datomic_id %>', {
      server_count: '<%= true_user.servers.count %>',
      signup_source: '<%= true_user.beta_signup_source %>'
      });
    </script>

    <script>
      window.Intercom('boot', {
      app_id: '<%= Rails.env.production? ?  ENV["INTERCOM_APP_ID"] || "m5y48sgf" : "uotxlvil" %>',
      email: '<%= true_user.email %>',
      user_id: '<%= true_user.datomic_id %>',
      created_at: '<%= true_user.created_at %>',
      widget: {
      activator: '#IntercomDefaultWidget'
      }  
      });
    </script>
    <% end %>
    
  </body>
</html>
