<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Is it vulnerable? - appCanary</title>
    <%= stylesheet_link_tag    'isitvuln', media: 'all' %>
    <%# <%= javascript_include_tag 'isitvuln' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%#= flash_messages %>

    <div class="topbar"></div>
    <%= yield %>

    <%= render :partial => "layouts/typekit" %> 
    <%= render :partial => "layouts/google_analytics" %> 
  </body>
</html>
