<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appcanary</title>
    <%= stylesheet_link_tag    'launchrock', media: 'all' %>
    <%= javascript_include_tag 'launchrock' %>
    <%= csrf_meta_tags %>
    <%= render :partial => "layouts/typekit" %> 
  </head>
  <body>

    <%#= flash_messages %>

    <div class="topbar"></div>
    <%= yield %>

    <%= render :partial => "layouts/analytics" %>
  </body>
</html>
